<script type="text/x-template" id="aboutMe_page">
<div class="aboutMe_page">
	<div id="aboutMeMain">
		<div id="aboutMeRoll">
			<div class="zone_module">
				<div class="answer">回复</div>
				<div class="top">
					<img src="img/head.jpg"/>
					<div class="name">某人</div>
					<div class="time">今天19:23</div>
				</div>
				<div class="middle">
					<div class="text">说了很多很多很多说了很多很多很多说了很多很多很多说了很多很多很多说了很多很多很多说了很多很多很多说了很多很多很多说了很多很多很多</div>
					<div class="picFrame">
						<img src="img/head.jpg" class="pic"/>
						<img src="img/head.jpg" class="pic"/>
						<img src="img/head.jpg" class="pic"/>
						<img src="img/head.jpg" class="pic"/>
						<img src="img/head.jpg" class="pic"/>
						<img src="img/head.jpg" class="pic"/>
						<div class="clear"></div>
					</div>
				</div>
				<div class="bottom">
					<div class="readed">
						<div class="zoneIcon read"></div>
						<div class="readNumber">浏览9次</div>
						<div class="clear"></div>
					</div>
					<div class="praised">
						<div class="zoneIcon praise"></div>
						<div class="praiseName">某人</div>
						<div class="praiseName">某人</div>
						<div class="praiseName">某人</div>
						<div class="clear"></div>
					</div>
				</div>
			</div>
			<div class="zone_module">
				<div class="answer">回复</div>
				<div class="top">
					<img src="img/head.jpg"/>
					<div class="name">某人</div>
					<div class="time">今天19:23</div>
				</div>
				<div class="middle">
					<div class="text">说了很多很多很多说了很多很多很多说了很多很多很多说了很多很多很多说了很多很多很多说了很多很多很多说了很多很多很多说了很多很多很多</div>
					<div class="picFrame">
						<img src="img/head.jpg" class="pic"/>
						<img src="img/head.jpg" class="pic"/>
						<img src="img/head.jpg" class="pic"/>
						<img src="img/head.jpg" class="pic"/>
						<img src="img/head.jpg" class="pic"/>
						<img src="img/head.jpg" class="pic"/>
						<div class="clear"></div>
					</div>
				</div>
				<div class="bottom">
					<div class="readed">
						<div class="zoneIcon read"></div>
						<div class="readNumber">浏览9次</div>
						<div class="clear"></div>
					</div>
					<div class="praised">
						<div class="zoneIcon praise"></div>
						<div class="praiseName">某人</div>
						<div class="praiseName">某人</div>
						<div class="praiseName">某人</div>
						<div class="clear"></div>
					</div>
				</div>
			</div>
			<div class="zone_module">
				<div class="answer">回复</div>
				<div class="top">
					<img src="img/head.jpg"/>
					<div class="name">某人</div>
					<div class="time">今天19:23</div>
				</div>
				<div class="middle">
					<div class="text">说了很多很多很多说了很多很多很多说了很多很多很多说了很多很多很多说了很多很多很多说了很多很多很多说了很多很多很多说了很多很多很多</div>
					<div class="picFrame">
						<img src="img/head.jpg" class="pic"/>
						<img src="img/head.jpg" class="pic"/>
						<img src="img/head.jpg" class="pic"/>
						<img src="img/head.jpg" class="pic"/>
						<img src="img/head.jpg" class="pic"/>
						<img src="img/head.jpg" class="pic"/>
						<div class="clear"></div>
					</div>
				</div>
				<div class="bottom">
					<div class="readed">
						<div class="zoneIcon read"></div>
						<div class="readNumber">浏览9次</div>
						<div class="clear"></div>
					</div>
					<div class="praised">
						<div class="zoneIcon praise"></div>
						<div class="praiseName">某人</div>
						<div class="praiseName">某人</div>
						<div class="praiseName">某人</div>
						<div class="clear"></div>
					</div>
				</div>
			</div>
			<div class="zone_module">
				<div class="answer">回复</div>
				<div class="top">
					<img src="img/head.jpg"/>
					<div class="name">某人</div>
					<div class="time">今天19:23</div>
				</div>
				<div class="middle">
					<div class="text">说了很多很多很多说了很多很多很多说了很多很多很多说了很多很多很多说了很多很多很多说了很多很多很多说了很多很多很多说了很多很多很多</div>
					<div class="picFrame">
						<img src="img/head.jpg" class="pic"/>
						<img src="img/head.jpg" class="pic"/>
						<img src="img/head.jpg" class="pic"/>
						<img src="img/head.jpg" class="pic"/>
						<img src="img/head.jpg" class="pic"/>
						<img src="img/head.jpg" class="pic"/>
						<div class="clear"></div>
					</div>
				</div>
				<div class="bottom">
					<div class="readed">
						<div class="zoneIcon read"></div>
						<div class="readNumber">浏览9次</div>
						<div class="clear"></div>
					</div>
					<div class="praised">
						<div class="zoneIcon praise"></div>
						<div class="praiseName">某人</div>
						<div class="praiseName">某人</div>
						<div class="praiseName">某人</div>
						<div class="clear"></div>
					</div>
				</div>
			</div>
			<div class="zone_module">
				<div class="answer">回复</div>
				<div class="top">
					<img src="img/head.jpg"/>
					<div class="name">某人</div>
					<div class="time">今天19:23</div>
				</div>
				<div class="middle">
					<div class="text">说了很多很多很多说了很多很多很多说了很多很多很多说了很多很多很多说了很多很多很多说了很多很多很多说了很多很多很多说了很多很多很多</div>
					<div class="picFrame">
						<img src="img/head.jpg" class="pic"/>
						<img src="img/head.jpg" class="pic"/>
						<img src="img/head.jpg" class="pic"/>
						<img src="img/head.jpg" class="pic"/>
						<img src="img/head.jpg" class="pic"/>
						<img src="img/head.jpg" class="pic"/>
						<div class="clear"></div>
					</div>
				</div>
				<div class="bottom">
					<div class="readed">
						<div class="zoneIcon read"></div>
						<div class="readNumber">浏览9次</div>
						<div class="clear"></div>
					</div>
					<div class="praised">
						<div class="zoneIcon praise"></div>
						<div class="praiseName">某人</div>
						<div class="praiseName">某人</div>
						<div class="praiseName">某人</div>
						<div class="clear"></div>
					</div>
				</div>
			</div>
			<div class="zone_module">
				<div class="answer">回复</div>
				<div class="top">
					<img src="img/head.jpg"/>
					<div class="name">某人</div>
					<div class="time">今天19:23</div>
				</div>
				<div class="middle">
					<div class="text">说了很多很多很多说了很多很多很多说了很多很多很多说了很多很多很多说了很多很多很多说了很多很多很多说了很多很多很多说了很多很多很多</div>
					<div class="picFrame">
						<img src="img/head.jpg" class="pic"/>
						<img src="img/head.jpg" class="pic"/>
						<img src="img/head.jpg" class="pic"/>
						<img src="img/head.jpg" class="pic"/>
						<img src="img/head.jpg" class="pic"/>
						<img src="img/head.jpg" class="pic"/>
						<div class="clear"></div>
					</div>
				</div>
				<div class="bottom">
					<div class="readed">
						<div class="zoneIcon read"></div>
						<div class="readNumber">浏览9次</div>
						<div class="clear"></div>
					</div>
					<div class="praised">
						<div class="zoneIcon praise"></div>
						<div class="praiseName">某人</div>
						<div class="praiseName">某人</div>
						<div class="praiseName">某人</div>
						<div class="clear"></div>
					</div>
				</div>
			</div>
			<div class="zone_module">
				<div class="answer">回复</div>
				<div class="top">
					<img src="img/head.jpg"/>
					<div class="name">某人</div>
					<div class="time">今天19:23</div>
				</div>
				<div class="middle">
					<div class="text">说了很多很多很多说了很多很多很多说了很多很多很多说了很多很多很多说了很多很多很多说了很多很多很多说了很多很多很多说了很多很多很多</div>
					<div class="picFrame">
						<img src="img/head.jpg" class="pic"/>
						<img src="img/head.jpg" class="pic"/>
						<img src="img/head.jpg" class="pic"/>
						<img src="img/head.jpg" class="pic"/>
						<img src="img/head.jpg" class="pic"/>
						<img src="img/head.jpg" class="pic"/>
						<div class="clear"></div>
					</div>
				</div>
				<div class="bottom">
					<div class="readed">
						<div class="zoneIcon read"></div>
						<div class="readNumber">浏览9次</div>
						<div class="clear"></div>
					</div>
					<div class="praised">
						<div class="zoneIcon praise"></div>
						<div class="praiseName">某人</div>
						<div class="praiseName">某人</div>
						<div class="praiseName">某人</div>
						<div class="clear"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</div>
</script>

