<script type="text/x-template" id="actionList_page">
<div class="actionList_page">
	<div id="sideHandle"></div>
	<div id="topFrame">
		<img src="img/searchButton.png" class="searchButton" id="search"/>
		<div class="clear"></div>
		<div class="linkNavPoint" id="zone">
			<img src="img/action.png" class="icon"/>
			<div class="name">好友动态</div>
		</div>
		<div class="linkNavPoint" id="near">
			<img src="img/near.png" class="icon"/>
			<div class="name">附近</div>
		</div>
		<div class="linkNavPoint" id="interest">
			<img src="img/interest.png" class="icon"/>
			<div class="name">兴趣部落</div>
		</div>
		<div class="clear"></div>
	</div>
	<div id="actionListFrame">
		<div id="listFrameRoll">
			<div class="tag_module">
				<div class="tagPoint">
					<img src="img/game.png" class="left"/>
					<div class="right">
						<div class="title">游戏</div>
						<img src="img/tag.png" class="icon"/>
					</div>
					<div class="clear"></div>
				</div>
				<div class="tagPoint">
					<img src="img/shopping.png" class="left"/>
					<div class="right">
						<div class="title">购物</div>
						<img src="img/tag.png" class="icon"/>
					</div>
					<div class="clear"></div>
				</div>
				<div class="tagPoint">
					<img src="img/read.png" class="left"/>
					<div class="right">
						<div class="title">阅读</div>
						<img src="img/tag.png" class="icon"/>
					</div>
					<div class="clear"></div>
				</div>
				<div class="tagPoint">
					<img src="img/music.png" class="left"/>
					<div class="right">
						<div class="title">音乐</div>
						<img src="img/tag.png" class="icon"/>
					</div>
					<div class="clear"></div>
				</div>
			</div>
			<div class="tag_module">
				<div class="tagPoint">
					<img src="img/neargroup.png" class="left"/>
					<div class="right">
						<div class="title">附近的群</div>
						<img src="img/tag.png" class="icon"/>
					</div>
					<div class="clear"></div>
				</div>
				<div class="tagPoint">
					<img src="img/foot.png" class="left"/>
					<div class="right">
						<div class="title">吃喝玩乐</div>
						<img src="img/tag.png" class="icon"/>
					</div>
					<div class="clear"></div>
				</div>
				<div class="tagPoint">
					<img src="img/savecity.png" class="left"/>
					<div class="right">
						<div class="title">同城服务</div>
						<img src="img/tag.png" class="icon"/>
					</div>
					<div class="clear"></div>
				</div>
				<div class="tagPoint">
					<img src="img/news.png" class="left"/>
					<div class="right">
						<div class="title">腾讯新闻</div>
						<img src="img/tag.png" class="icon"/>
					</div>
					<div class="clear"></div>
				</div>
				<div class="tagPoint">
					<img src="img/healthy.png" class="left"/>
					<div class="right">
						<div class="title">健康</div>
						<img src="img/tag.png" class="icon"/>
					</div>
					<div class="clear"></div>
				</div>
			</div>
		</div>
	</div>
</div>
</script>

