<script type="text/x-template" id="album_page">
<div class="album_page">
	<div id="albumMain">
		<div id="albumRoll">
			<div class="album_point" id="new"></div>
			<div class="album_point">
				<img src="img/head.jpg"/>
				<div class="clear"></div>
				<div class="title">相册名</div>
				<div class="num">23</div>
				<div class="clear"></div>
			</div>
			<div class="album_point">
				<img src="img/head.jpg"/>
				<div class="clear"></div>
				<div class="title">相册名</div>
				<div class="num">23</div>
				<div class="clear"></div>
			</div>
			<div class="album_point">
				<img src="img/head.jpg"/>
				<div class="clear"></div>
				<div class="title">相册名</div>
				<div class="num">23</div>
				<div class="clear"></div>
			</div>
			<div class="album_point">
				<img src="img/head.jpg"/>
				<div class="clear"></div>
				<div class="title">相册名</div>
				<div class="num">23</div>
				<div class="clear"></div>
			</div>
			<div class="album_point">
				<img src="img/head.jpg"/>
				<div class="clear"></div>
				<div class="title">相册名</div>
				<div class="num">23</div>
				<div class="clear"></div>
			</div>
			<div class="album_point">
				<img src="img/head.jpg"/>
				<div class="clear"></div>
				<div class="title">相册名</div>
				<div class="num">23</div>
				<div class="clear"></div>
			</div>
			<div class="album_point">
				<img src="img/head.jpg"/>
				<div class="clear"></div>
				<div class="title">相册名</div>
				<div class="num">23</div>
				<div class="clear"></div>
			</div>
			<div class="album_point">
				<img src="img/head.jpg"/>
				<div class="clear"></div>
				<div class="title">相册名</div>
				<div class="num">23</div>
				<div class="clear"></div>
			</div>
			<div class="album_point">
				<img src="img/head.jpg"/>
				<div class="clear"></div>
				<div class="title">相册名</div>
				<div class="num">23</div>
				<div class="clear"></div>
			</div>
			<div class="album_point">
				<img src="img/head.jpg"/>
				<div class="clear"></div>
				<div class="title">相册名</div>
				<div class="num">23</div>
				<div class="clear"></div>
			</div>
			<div class="album_point">
				<img src="img/head.jpg"/>
				<div class="clear"></div>
				<div class="title">相册名</div>
				<div class="num">23</div>
				<div class="clear"></div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	
</div>
</script>

