<script type="text/x-template" id="collect_page">
<div class="collect_page">
		<img id="search" src="img/searchMButton.jpg"/>
		<div class="text_module" id="edit">编辑</div>
		<div class="clear"></div>
		<div class="point">
			<img class="left" src="img/head.jpg"/>
			<div class="right">
				<div class="name">某人</div>
				<div class="time">01-01</div>
				<div class="clear"></div>
				<img class="pic" src="img/head.jpg"/>
			</div>
			<div class="clear"></div>
		</div>	
		<div class="point">
			<img class="left" src="img/head.jpg"/>
			<div class="right">
				<div class="name">某人</div>
				<div class="time">01-01</div>
				<div class="clear"></div>
				<div class="text"/>dsfsggfhfdhgf</div>
			</div>
			<div class="clear"></div>
		</div>				
</div>
</script>

