<script type="text/x-template" id="detail_page">
<div class="detail_page" id="detail">
	<div class="detailRoll">
		<div class="messageGroup">
			<div class="time">08:30</div>
			<div class="mainFrame">
				<div class="messagePoint messagePointL">
					<img src="img/head.jpg" class="head"/>
					<div class="textFrame">
						<div class="name">某人</div>
						<div class="word">说了很多很多话</div>
					</div>
					
					<div class="clear"></div>
					<div class="deg"></div>
				</div>
				<div class="messagePoint messagePointR">
					<img src="img/head.jpg" class="head"/>
					<div class="textFrame">
						<div class="name">某人</div>
						<div class="word">说了很多很多话</div>
					</div>
					
					<div class="clear"></div>
					<div class="deg"></div>
				</div>
			</div>
		</div>
		<div class="messageGroup">
			<div class="time">08:30</div>
			<div class="mainFrame">
				<div class="messagePoint messagePointL">
					<img src="img/head.jpg" class="head"/>
					<div class="textFrame">
						<div class="name">某人</div>
						<div class="word">说了很多很多话</div>
					</div>
					
					<div class="clear"></div>
					<div class="deg"></div>
				</div>
				<div class="messagePoint messagePointR">
					<img src="img/head.jpg" class="head"/>
					<div class="textFrame">
						<div class="name">某人</div>
						<div class="word">说了很多很多话</div>
					</div>
					
					<div class="clear"></div>
					<div class="deg"></div>
				</div>
			</div>
		</div>
		<div class="messageGroup">
			<div class="time">08:30</div>
			<div class="mainFrame">
				<div class="messagePoint messagePointL">
					<img src="img/head.jpg" class="head"/>
					<div class="textFrame">
						<div class="name">某人</div>
						<div class="word">说了很多很多话</div>
					</div>
					
					<div class="clear"></div>
					<div class="deg"></div>
				</div>
				<div class="messagePoint messagePointR">
					<img src="img/head.jpg" class="head"/>
					<div class="textFrame">
						<div class="name">某人</div>
						<div class="word">说了很多很多话</div>
					</div>
					
					<div class="clear"></div>
					<div class="deg"></div>
				</div>
			</div>
		</div>
		<div class="messageGroup">
			<div class="time">08:30</div>
			<div class="mainFrame">
				<div class="messagePoint messagePointL">
					<img src="img/head.jpg" class="head"/>
					<div class="textFrame">
						<div class="name">某人</div>
						<div class="word">说了很多很多话</div>
					</div>
					
					<div class="clear"></div>
					<div class="deg"></div>
				</div>
				<div class="messagePoint messagePointR">
					<img src="img/head.jpg" class="head"/>
					<div class="textFrame">
						<div class="name">某人</div>
						<div class="word">说了很多很多话</div>
					</div>
					
					<div class="clear"></div>
					<div class="deg"></div>
				</div>
			</div>
		</div>
		<div class="messageGroup">
			<div class="time">08:30</div>
			<div class="mainFrame">
				<div class="messagePoint messagePointL">
					<img src="img/head.jpg" class="head"/>
					<div class="textFrame">
						<div class="name">某人</div>
						<div class="word">说了很多很多话</div>
					</div>
					
					<div class="clear"></div>
					<div class="deg"></div>
				</div>
				<div class="messagePoint messagePointR">
					<img src="img/head.jpg" class="head"/>
					<div class="textFrame">
						<div class="name">某人</div>
						<div class="word">说了很多很多话</div>
					</div>
					
					<div class="clear"></div>
					<div class="deg"></div>
				</div>
			</div>
		</div>
		<div class="messageGroup">
			<div class="time">08:30</div>
			<div class="mainFrame">
				<div class="messagePoint messagePointL">
					<img src="img/head.jpg" class="head"/>
					<div class="textFrame">
						<div class="name">某人</div>
						<div class="word">说了很多很多话</div>
					</div>
					
					<div class="clear"></div>
					<div class="deg"></div>
				</div>
				<div class="messagePoint messagePointR">
					<img src="img/head.jpg" class="head"/>
					<div class="textFrame">
						<div class="name">某人</div>
						<div class="word">说了很多很多话</div>
					</div>
					
					<div class="clear"></div>
					<div class="deg"></div>
				</div>
			</div>
		</div>
		<div class="messageGroup">
			<div class="time">08:30</div>
			<div class="mainFrame">
				<div class="messagePoint messagePointL">
					<img src="img/head.jpg" class="head"/>
					<div class="textFrame">
						<div class="name">某人</div>
						<div class="word">说了很多很多话</div>
					</div>
					
					<div class="clear"></div>
					<div class="deg"></div>
				</div>
				<div class="messagePoint messagePointR">
					<img src="img/head.jpg" class="head"/>
					<div class="textFrame">
						<div class="name">某人</div>
						<div class="word">说了很多很多话</div>
					</div>
					
					<div class="clear"></div>
					<div class="deg"></div>
				</div>
			</div>
		</div>
		<div class="messageGroup">
			<div class="time">08:30</div>
			<div class="mainFrame">
				<div class="messagePoint messagePointL">
					<img src="img/head.jpg" class="head"/>
					<div class="textFrame">
						<div class="name">某人</div>
						<div class="word">说了很多很多话</div>
					</div>
					
					<div class="clear"></div>
					<div class="deg"></div>
				</div>
				<div class="messagePoint messagePointR">
					<img src="img/head.jpg" class="head"/>
					<div class="textFrame">
						<div class="name">某人</div>
						<div class="word">说了很多很多话</div>
					</div>
					
					<div class="clear"></div>
					<div class="deg"></div>
				</div>
			</div>
		</div>
		<div class="messageGroup">
			<div class="time">08:30</div>
			<div class="mainFrame">
				<div class="messagePoint messagePointL">
					<img src="img/head.jpg" class="head"/>
					<div class="textFrame">
						<div class="name">某人</div>
						<div class="word">说了很多很多话</div>
					</div>
					
					<div class="clear"></div>
					<div class="deg"></div>
				</div>
				<div class="messagePoint messagePointR">
					<img src="img/head.jpg" class="head"/>
					<div class="textFrame">
						<div class="name">某人</div>
						<div class="word">说了很多很多话</div>
					</div>
					
					<div class="clear"></div>
					<div class="deg"></div>
				</div>
			</div>
		</div>
	</div>
</div>
</script>

