<script type="text/x-template" id="directoryList_page">
<div class="directoryList_page">
	<img src="img/searchButton.png" class="searchButton" id="search"/>
	<div id="navFrame">
		<div class="navPoint">团</div>
		<div class="navPoint">A</div>
		<div class="navPoint">B</div>
		<div class="navPoint">C</div>
		<div class="navPoint">D</div>
		<div class="navPoint">E</div>
		<div class="navPoint">F</div>
		<div class="navPoint">G</div>
		<div class="navPoint">H</div>
		<div class="navPoint">I</div>
		<div class="navPoint">J</div>
		<div class="navPoint">K</div>
		<div class="navPoint">L</div>
		<div class="navPoint">M</div>
		<div class="navPoint">N</div>
		<div class="navPoint">O</div>
		<div class="navPoint">P</div>
		<div class="navPoint">Q</div>
		<div class="navPoint">R</div>
		<div class="navPoint">S</div>
		<div class="navPoint">T</div>
		<div class="navPoint">U</div>
		<div class="navPoint">V</div>
		<div class="navPoint">W</div>
		<div class="navPoint">X</div>
		<div class="navPoint">Y</div>
		<div class="navPoint">Z</div>
		<div class="navPoint">#</div>
	</div>
	<div id="directoryMain">
		<div id="directoryRoll">
			<div class="list_module listXS_module listSingle_module">
								<img class="left" src="img/head.jpg"/>
								<div class="right">
									<div class="title">团队通讯录</div>
									<img src="img/tel.jpg" class="phone"/>
								</div>
								<div class="clear"></div>
							</div>
			<div class="text_module textGay_module textM_module listTitle">A</div>
			<div class="list_module listXS_module listSingle_module">
									<img class="left" src="img/head.jpg"/>
									<div class="right">
										<div class="title">群的名字</div>
										<img src="img/tel.jpg" class="phone"/>
									</div>
									<div class="clear"></div>
								</div>
			<div class="list_module listXS_module listSingle_module">
									<img class="left" src="img/head.jpg"/>
									<div class="right">
										<div class="title">群的名字</div>
										<img src="img/tel.jpg" class="phone"/>
									</div>
									<div class="clear"></div>
								</div>
			<div class="text_module textGay_module textM_module listTitle">B</div>
			<div class="list_module listXS_module listSingle_module">
									<img class="left" src="img/head.jpg"/>
									<div class="right">
										<div class="title">群的名字</div>
										<img src="img/tel.jpg" class="phone"/>
									</div>
									<div class="clear"></div>
								</div>
			<div class="list_module listXS_module listSingle_module">
									<img class="left" src="img/head.jpg"/>
									<div class="right">
										<div class="title">群的名字</div>
										<img src="img/tel.jpg" class="phone"/>
									</div>
									<div class="clear"></div>
								</div>
			<div class="text_module textGay_module textM_module listTitle">C</div>
			<div class="list_module listXS_module listSingle_module">
									<img class="left" src="img/head.jpg"/>
									<div class="right">
										<div class="title">群的名字</div>
										<img src="img/tel.jpg" class="phone"/>
									</div>
									<div class="clear"></div>
								</div>
			<div class="list_module listXS_module listSingle_module">
									<img class="left" src="img/head.jpg"/>
									<div class="right">
										<div class="title">群的名字</div>
										<img src="img/tel.jpg" class="phone"/>
									</div>
									<div class="clear"></div>
								</div>
			<div class="text_module textGay_module textM_module listTitle">D</div>
			<div class="list_module listXS_module listSingle_module">
									<img class="left" src="img/head.jpg"/>
									<div class="right">
										<div class="title">群的名字</div>
										<img src="img/tel.jpg" class="phone"/>
									</div>
									<div class="clear"></div>
								</div>
			<div class="list_module listXS_module listSingle_module">
									<img class="left" src="img/head.jpg"/>
									<div class="right">
										<div class="title">群的名字</div>
										<img src="img/tel.jpg" class="phone"/>
									</div>
									<div class="clear"></div>
								</div>
			<div class="text_module textGay_module textM_module listTitle">E</div>
			<div class="list_module listXS_module listSingle_module">
									<img class="left" src="img/head.jpg"/>
									<div class="right">
										<div class="title">群的名字</div>
										<img src="img/tel.jpg" class="phone"/>
									</div>
									<div class="clear"></div>
								</div>
			<div class="list_module listXS_module listSingle_module">
									<img class="left" src="img/head.jpg"/>
									<div class="right">
										<div class="title">群的名字</div>
										<img src="img/tel.jpg" class="phone"/>
									</div>
									<div class="clear"></div>
								</div>
		</div>
	</div>
	
</div>
</script>

