<script type="text/x-template" id="diy_page">
	<div class="diy_page">
				<div class="banner_module">
					<div class="roll">
						<img src="img/head.jpg" class="pic"/>
						<img src="img/head.jpg" class="pic"/>
						<div class="clear"></div>
					</div>
					<div class="pointFrame">
						<div class="point"></div>
						<div class="point"></div>
						<div class="clear"></div>
					</div>
				</div>
				<div id="topFrame">
					<div class="topPoint">
						<img src="img/head.jpg" class="pic"/>
						<div class="topName">背景音乐</div>
					</div>
					<div class="topPoint">
						<img src="img/head.jpg" class="pic"/>
						<div class="topName">手机标识</div>
					</div>
					<div class="topPoint">
						<img src="img/head.jpg" class="pic"/>
						<div class="topName">空间描述</div>
					</div>
					<div class="topPoint">
						<img src="img/head.jpg" class="pic"/>
						<div class="topName">动态昵称</div>
					</div>
					<div class="clear"></div>
				</div>
				<div id="lageFrame">
					<div class="title">卡片装扮</div>
					<div class="dsc">助你气质爆表</div>
					<img src="img/head.jpg" class="pic"/>
				</div>
				<div id="centerFrame">
					<div class="diyPoint">
						<div class="title">卡片装扮</div>
						<div class="dsc">助你气质爆表</div>
						<img src="img/head.jpg" class="pic"/>
					</div>
					<div class="diyPoint">
						<div class="title">头像装扮</div>
						<div class="dsc">我最炫</div>
						<img src="img/head.jpg" class="pic"/>
					</div>
					<div class="clear"></div>
				</div>
				<div id="bottomFrame">
					<div id="bottomLeft">
						<div class="title">空间秀</div>
						<div class="dsc">穿出个性，秀出光彩</div>
						<img src="img/head.jpg" class="pic"/>
					</div>
					<div id="bottomRight">
						<div class="diyPoint">
							<div class="title">封面商城</div>
							<div class="dsc">个性门面，张扬自我</div>
							<img src="img/head.jpg" class="pic"/>
						</div>
						<div class="diyPoint">
							<div class="title">华丽漂浮</div>
							<div class="dsc">有趣实用</div>
							<img src="img/head.jpg" class="pic"/>
						</div>
					</div>
					<div class="clear"></div>
				</div>		
	</div>
</script>

