<script type="text/x-template" id="diyShow_page">
<div class="diyShow_page">
	<div class="head_module buttonTitleIcon_head">
		<div class="left">
			<img src="img/back.png" class="leftIcon"/>
			<div class="leftText">返回</div>
			<div class="clear"></div>
		</div>
		<div class="title">个性装扮</div>
		<div class="right">
			<img src="img/self.png" class="rightPoint"/>
			<img src="img/find.png" class="rightPoint"/>
			<div class="clear"></div>
		</div>
	</div>
	<div id="diyShowMain">
		<div id="diyShowRoll">
			<img id="banner" src="img/diyShowBg.jpg"/>
			<div id="topFrame">
				<div class="point">
					<img src="img/head.jpg" class="pic"/>
					<div class="name">女生节装扮</div>
					<div class="dsc">活动中心</div>
				</div>
				<div class="point">
					<img src="img/head.jpg" class="pic"/>
					<div class="name">超萌家族</div>
					<div class="dsc">QQfamily</div>
				</div>
				<div class="point">
					<img src="img/head.jpg" class="pic"/>
					<div class="name">免费装扮</div>
					<div class="dsc">服务号有礼</div>
				</div>
				<div class="clear"></div>
			</div>
			<div class="frame" id="face">
				<div class="title">热门表情</div>
				<div class="more">更多 &gt;</div>
				<div class="clear"></div>
				<div class="point">
					<img src="img/head.jpg" class="pic"/>
					<div class="name">麦啦风女生节</div>
				</div>
				<div class="point">
					<img src="img/head.jpg" class="pic"/>
					<div class="name">蜡笔漫画</div>
				</div>
				<div class="point">
					<img src="img/head.jpg" class="pic"/>
					<div class="name">Emily</div>
				</div>
				<div class="point">
					<img src="img/head.jpg" class="pic"/>
					<div class="name">买买菌</div>
				</div>
				<div class="clear"></div>
			</div>
			<div class="frame" id="pao">
				<div class="title">热门气泡</div>
				<div class="more">更多 &gt;</div>
				<div class="clear"></div>
				<div class="point">
					<img src="img/head.jpg" class="pic"/>
				</div>
				<div class="point">
					<img src="img/head.jpg" class="pic"/>
				</div>
				<div class="point">
					<img src="img/head.jpg" class="pic"/>
				</div>
				<div class="point">
					<img src="img/head.jpg" class="pic"/>
				</div>
				<div class="clear"></div>
			</div>
			<div class="frame" id="redpackage">
				<div class="title">热门红包</div>
				<div class="more">更多 &gt;</div>
				<div class="clear"></div>
				<div class="point">
					<img src="img/head.jpg" class="pic"/>
					<div class="name">飞龙底纹</div>
				</div>
				<div class="point">
					<img src="img/head.jpg" class="pic"/>
					<div class="name">福</div>
				</div>
				<div class="point">
					<img src="img/head.jpg" class="pic"/>
					<div class="name">点赞卡纳</div>
				</div>
				<div class="clear"></div>
			</div>
			<div class="frame" id="font">
				<div class="title">热门字体</div>
				<div class="more">更多 &gt;</div>
				<div class="clear"></div>
				<div class="point">
					<img src="img/head.jpg" class="pic"/>
				</div>
				<div class="point">
					<img src="img/head.jpg" class="pic"/>
				</div>
				<div class="clear"></div>
			</div>
			<div class="frame" id="style">
				<div class="title">热门主题</div>
				<div class="more">更多 &gt;</div>
				<div class="clear"></div>
				<div class="point">
					<img src="img/head.jpg" class="pic"/>
					<div class="name">奇迹暖暖</div>
				</div>
				<div class="point">
					<img src="img/head.jpg" class="pic"/>
					<div class="name">hello kitty</div>
				</div>
				<div class="point">
					<img src="img/head.jpg" class="pic"/>
					<div class="name">echi</div>
				</div>
				<div class="point">
					<img src="img/head.jpg" class="pic"/>
					<div class="name">长草颜文字</div>
				</div>
				<div class="point">
					<img src="img/head.jpg" class="pic"/>
					<div class="name">emily</div>
				</div>
				<div class="point">
					<img src="img/head.jpg" class="pic"/>
					<div class="name">墨白</div>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</div>				
</div>
</script>

