<script type="text/x-template" id="file_page">
<div class="file_page">
	<div id="fileMain">
		<div id="fileRoll">
			<div id="topFrame">
			<div class="list_module listXXS_module listSingle_module nodeg">
							<img class="left" src="img/pc.png"/>
							<div class="right">
								<div class="title">传文件/照片到电脑</div>
								<img src="img/tag.png" class="tag"/>
							</div>
							<div class="clear"></div>
						</div>	
			<div class="list_module listXXS_module listSingle_module nodeg">
							<img class="left" src="img/file2.png"/>
							<div class="right">
								<div class="title">面对面快传（免流量）</div>
								<img src="img/tag.png" class="tag"/>
							</div>
							<div class="clear"></div>
						</div>	
			<div class="list_module listXXS_module listSingle_module nodeg">
							<img class="left" src="img/cloud.png"/>
							<div class="right">
								<div class="title">备份相册到微云</div>
								<img src="img/tag.png" class="tag"/>
							</div>
							<div class="clear"></div>
						</div>
		</div>
		<div class="text_module textGay_module listTitle">我的文件</div>
		<div class="tag_module tagNoLeft_module">
				<div class="tagPoint">
					<div class="right">
						<div class="title">最近文件</div>
						<img src="img/tag.png" class="icon"/>
					</div>
					<div class="clear"></div>
				</div>
				<div class="tagPoint">
					<div class="right">
						<div class="title">本机文件</div>
						<img src="img/tag.png" class="icon"/>
					</div>
					<div class="clear"></div>
				</div>
				<div class="tagPoint">
					<div class="right">
						<div class="title">电脑文件</div>
						<img src="img/tag.png" class="icon"/>
					</div>
					<div class="clear"></div>
				</div>
				<div class="tagPoint">
					<div class="right">
						<div class="title">微云文件</div>
						<img src="img/tag.png" class="icon"/>
					</div>
					<div class="clear"></div>
				</div>
			</div>
		</div>
	</div>
		
</div>
</script>

