<script type="text/x-template" id="interest_page">
<div class="interest_page">
	<div class="nav_module">
		<div class="nav_point hl" num="0">兴趣圈</div>
		<div class="nav_point" num="1">最近</div>
		<div class="nav_point" num="2">排行</div>
		<div class="nav_point" num="3">发现</div>
		<div class="clear"></div>
		<div class="heightLine"></div>
	</div>
	<div id="interestMain">
		<div id="interestRoll">
			<div class="subPage">
				<div id="interestGroup">
					<div class="subRoll">
						<img src="img/groupNew.png" id="groupNew"/>
						<div id="title">
							<div id="titleMain">你可能感兴趣的部落</div>
						</div>
						<div class="groupList">
							<div class="groupPoint">
								<img src="img/head.jpg" class="head"/>
								<div class="name">部落名</div>
								<div class="select_module selectRadio_module selectRadioBG_module"></div>
							</div>
							<div class="groupPoint">
								<img src="img/head.jpg" class="head"/>
								<div class="name">部落名</div>
								<div class="select_module selectRadio_module selectRadioBG_module"></div>
							</div>
							<div class="groupPoint">
								<img src="img/head.jpg" class="head"/>
								<div class="name">部落名</div>
								<div class="select_module selectRadio_module selectRadioBG_module"></div>
							</div>
							<div class="groupPoint">
								<img src="img/head.jpg" class="head"/>
								<div class="name">部落名</div>
								<div class="select_module selectRadio_module selectRadioBG_module"></div>
							</div>
							<div class="groupPoint">
								<img src="img/head.jpg" class="head"/>
								<div class="name">部落名</div>
								<div class="select_module selectRadio_module selectRadioBG_module"></div>
							</div>
							<div class="groupPoint">
								<img src="img/head.jpg" class="head"/>
								<div class="name">部落名</div>
								<div class="select_module selectRadio_module selectRadioBG_module"></div>
							</div>
							<div class="clear"></div>
						</div>
						<div class="button_module buttonL_module buttonGay_module" id="Send">立即关注</div>
					</div>
				</div>
			</div>
			<div class="subPage">
				<div id="nearest">
					<div class="subRoll">
						<div id="topFrame">
							<img id="topLeft" src="img/head.jpg"/>
							<div id="topRight">
								<div class="topPoint">
									<div class="number">0</div>
									<div class="name">关注</div>
								</div>
								<div class="topPoint">
									<div class="number">0</div>
									<div class="name">粉丝</div>
								</div>
								<div class="topPoint">
									<div class="number">0</div>
									<div class="name">部落</div>
								</div>
								<div class="clear"></div>
							</div>
							<div class="clear"></div>
						</div>
						<div class="listGroup">
							<div class="list_module listXXS_module listSingle_module">
								<img class="left" src="img/head.jpg"/>
								<div class="right">
									<div class="title">我的通知</div>
									<img src="img/tag.png" class="tag"/>
								</div>
								<div class="clear"></div>
							</div>
							<div class="list_module listXXS_module listSingle_module">
								<img class="left" src="img/head.jpg"/>
								<div class="right">
									<div class="title">我的留言</div>
									<img src="img/tag.png" class="tag"/>
								</div>
								<div class="clear"></div>
							</div>
						</div>
						<div class="nearestTitle">
							<div class="text_module textGay_module nearestTitleName">最近访问</div>
						</div>
						<img src="img/nearestVisit.png" id="nearestVisit"/>
						<div class="nearestTitle">
							<div class="text_module textGay_module nearestTitleName">推荐部落</div>
							<div class="text_module nearestTitleButton">更多 &gt;</div>
						</div>
						<div class="list_module listXL_module listM_module">
							<img class="left" src="img/head.jpg"/>
							<div class="right">
								<div class="title">群的名字</div>
								<div class="dsc">好吧，是的，就这样</div>
								<div class="button">关注</div>
							</div>
							<div class="clear"></div>
						</div>
						<div class="list_module listXL_module listM_module">
							<img class="left" src="img/head.jpg"/>
							<div class="right">
								<div class="title">群的名字</div>
								<div class="dsc">好吧，是的，就这样</div>
								<div class="button">关注</div>
							</div>
							<div class="clear"></div>
						</div>
						<div class="list_module listXL_module listM_module">
							<img class="left" src="img/head.jpg"/>
							<div class="right">
								<div class="title">群的名字</div>
								<div class="dsc">好吧，是的，就这样</div>
								<div class="button">关注</div>
							</div>
							<div class="clear"></div>
						</div>
						<div class="list_module listXL_module listM_module">
							<img class="left" src="img/head.jpg"/>
							<div class="right">
								<div class="title">群的名字</div>
								<div class="dsc">好吧，是的，就这样</div>
								<div class="button">关注</div>
							</div>
							<div class="clear"></div>
						</div>
						<div class="list_module listXL_module listM_module">
							<img class="left" src="img/head.jpg"/>
							<div class="right">
								<div class="title">群的名字</div>
								<div class="dsc">好吧，是的，就这样</div>
								<div class="button">关注</div>
							</div>
							<div class="clear"></div>
						</div>
						<div class="list_module listXL_module listM_module">
							<img class="left" src="img/head.jpg"/>
							<div class="right">
								<div class="title">群的名字</div>
								<div class="dsc">好吧，是的，就这样</div>
								<div class="button">关注</div>
							</div>
							<div class="clear"></div>
						</div>
						<div class="list_module listXL_module listM_module">
							<img class="left" src="img/head.jpg"/>
							<div class="right">
								<div class="title">群的名字</div>
								<div class="dsc">好吧，是的，就这样</div>
								<div class="button">关注</div>
							</div>
							<div class="clear"></div>
						</div>
						<div class="list_module listXL_module listM_module">
							<img class="left" src="img/head.jpg"/>
							<div class="right">
								<div class="title">群的名字</div>
								<div class="dsc">好吧，是的，就这样</div>
								<div class="button">关注</div>
							</div>
							<div class="clear"></div>
						</div>
						<div class="list_module listXL_module listM_module">
							<img class="left" src="img/head.jpg"/>
							<div class="right">
								<div class="title">群的名字</div>
								<div class="dsc">好吧，是的，就这样</div>
								<div class="button">关注</div>
							</div>
							<div class="clear"></div>
						</div>
						<div class="list_module listXL_module listM_module">
							<img class="left" src="img/head.jpg"/>
							<div class="right">
								<div class="title">群的名字</div>
								<div class="dsc">好吧，是的，就这样</div>
								<div class="button">关注</div>
							</div>
							<div class="clear"></div>
						</div>
						<div class="list_module listXL_module listM_module">
							<img class="left" src="img/head.jpg"/>
							<div class="right">
								<div class="title">群的名字</div>
								<div class="dsc">好吧，是的，就这样</div>
								<div class="button">关注</div>
							</div>
							<div class="clear"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="subPage">
				<div id="order">
					<div id="orderLeft">
						<div class="subRoll">
							<div class="orderType hl">推荐部落</div>
							<div class="orderType">游戏</div>
							<div class="orderType">明星</div>
							<div class="orderType">情感</div>
							<div class="orderType">爱好</div>
							<div class="orderType">综艺</div>
							<div class="orderType">电视剧</div>
							<div class="orderType">电影</div>
							<div class="orderType">地区</div>
							<div class="orderType">生活</div>
							<div class="orderType">动漫</div>
							<div class="orderType">体育竞技</div>
							<div class="orderType">艺术鉴赏</div>
							<div class="orderType">这个那个</div>
						</div>
					</div>
					<div id="orderRight">
						<div class="subRoll">
							<img src="img/head.jpg" id="orderBanner"/>
							<div class="list_module listXL_module listM_module">
								<img class="left" src="img/head.jpg"/>
								<div class="right">
									<div class="title">群的名字</div>
									<div class="dsc">好吧，是的，就这样</div>
									<div class="button">关注</div>
								</div>
								<div class="clear"></div>
							</div>
							<div class="list_module listXL_module listM_module">
								<img class="left" src="img/head.jpg"/>
								<div class="right">
									<div class="title">群的名字</div>
									<div class="dsc">好吧，是的，就这样</div>
									<div class="button">关注</div>
								</div>
								<div class="clear"></div>
							</div>
							<div class="list_module listXL_module listM_module">
								<img class="left" src="img/head.jpg"/>
								<div class="right">
									<div class="title">群的名字</div>
									<div class="dsc">好吧，是的，就这样</div>
									<div class="button">关注</div>
								</div>
								<div class="clear"></div>
							</div>
							<div class="list_module listXL_module listM_module">
								<img class="left" src="img/head.jpg"/>
								<div class="right">
									<div class="title">群的名字</div>
									<div class="dsc">好吧，是的，就这样</div>
									<div class="button">关注</div>
								</div>
								<div class="clear"></div>
							</div>
							<div class="list_module listXL_module listM_module">
								<img class="left" src="img/head.jpg"/>
								<div class="right">
									<div class="title">群的名字</div>
									<div class="dsc">好吧，是的，就这样</div>
									<div class="button">关注</div>
								</div>
								<div class="clear"></div>
							</div>
							<div class="list_module listXL_module listM_module">
								<img class="left" src="img/head.jpg"/>
								<div class="right">
									<div class="title">群的名字</div>
									<div class="dsc">好吧，是的，就这样</div>
									<div class="button">关注</div>
								</div>
								<div class="clear"></div>
							</div>
							<div class="list_module listXL_module listM_module">
								<img class="left" src="img/head.jpg"/>
								<div class="right">
									<div class="title">群的名字</div>
									<div class="dsc">好吧，是的，就这样</div>
									<div class="button">关注</div>
								</div>
								<div class="clear"></div>
							</div>
							<div class="list_module listXL_module listM_module">
								<img class="left" src="img/head.jpg"/>
								<div class="right">
									<div class="title">群的名字</div>
									<div class="dsc">好吧，是的，就这样</div>
									<div class="button">关注</div>
								</div>
								<div class="clear"></div>
							</div>
							<div class="list_module listXL_module listM_module">
								<img class="left" src="img/head.jpg"/>
								<div class="right">
									<div class="title">群的名字</div>
									<div class="dsc">好吧，是的，就这样</div>
									<div class="button">关注</div>
								</div>
								<div class="clear"></div>
							</div>
							<div class="list_module listXL_module listM_module">
								<img class="left" src="img/head.jpg"/>
								<div class="right">
									<div class="title">群的名字</div>
									<div class="dsc">好吧，是的，就这样</div>
									<div class="button">关注</div>
								</div>
								<div class="clear"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="subPage">
				<div id="found">
					<div class="subRoll">
						<div id="foundBannerFrame">
							<div id="foundBannerRoll">
								<img src="img/head.jpg" class="foundBannerPic"/>
								<img src="img/head.jpg" class="foundBannerPic"/>
								<img src="img/head.jpg" class="foundBannerPic"/>
								<img src="img/head.jpg" class="foundBannerPic"/>
								<img src="img/head.jpg" class="foundBannerPic"/>
								<div class="clear"></div>
							</div>
							<div id="foundBannerPointFrame">
								<div class="foundBannerPoint"></div>
								<div class="foundBannerPoint"></div>
								<div class="foundBannerPoint"></div>
								<div class="foundBannerPoint"></div>
								<div class="foundBannerPoint"></div>
								<div class="clear"></div>
							</div>
						</div>
						<div id="foundTopFrame">
							<div class="foundTitle">
								<div class="foundTitleName">巨会玩</div>
							</div>
							<div class="foundGroupMain">
								<div class="foundGroupRoll">
									<div class="foundGroupPoint">
										<img src="img/head.jpg" class="foundGroupPointPic"/>
										<div class="foundGroupPointName">爱跳舞</div>
									</div>
									<div class="foundGroupPoint">
										<img src="img/head.jpg" class="foundGroupPointPic"/>
										<div class="foundGroupPointName">爱跳舞</div>
									</div>
									<div class="foundGroupPoint">
										<img src="img/head.jpg" class="foundGroupPointPic"/>
										<div class="foundGroupPointName">爱跳舞</div>
									</div>
									<div class="foundGroupPoint">
										<img src="img/head.jpg" class="foundGroupPointPic"/>
										<div class="foundGroupPointName">爱跳舞</div>
									</div>
									<div class="foundGroupPoint">
										<img src="img/head.jpg" class="foundGroupPointPic"/>
										<div class="foundGroupPointName">爱跳舞</div>
									</div>
									<div class="foundGroupPoint">
										<img src="img/head.jpg" class="foundGroupPointPic"/>
										<div class="foundGroupPointName">爱跳舞</div>
									</div>
									<div class="foundGroupPoint">
										<img src="img/head.jpg" class="foundGroupPointPic"/>
										<div class="foundGroupPointName">爱跳舞</div>
									</div>
									<div class="foundGroupPoint">
										<img src="img/head.jpg" class="foundGroupPointPic"/>
										<div class="foundGroupPointName">爱跳舞</div>
									</div>
									<div class="clear"></div>
								</div>
							</div>
							<div class="foundTitle">
								<div class="foundTitleName">关爱健康</div>
							</div>
							<div class="foundGroupMain">
								<div class="foundGroupRoll">
									<div class="foundGroupPoint">
										<img src="img/head.jpg" class="foundGroupPointPic"/>
										<div class="foundGroupPointName">爱跳舞</div>
									</div>
									<div class="foundGroupPoint">
										<img src="img/head.jpg" class="foundGroupPointPic"/>
										<div class="foundGroupPointName">爱跳舞</div>
									</div>
									<div class="foundGroupPoint">
										<img src="img/head.jpg" class="foundGroupPointPic"/>
										<div class="foundGroupPointName">爱跳舞</div>
									</div>
									<div class="foundGroupPoint">
										<img src="img/head.jpg" class="foundGroupPointPic"/>
										<div class="foundGroupPointName">爱跳舞</div>
									</div>
									<div class="foundGroupPoint">
										<img src="img/head.jpg" class="foundGroupPointPic"/>
										<div class="foundGroupPointName">爱跳舞</div>
									</div>
									<div class="foundGroupPoint">
										<img src="img/head.jpg" class="foundGroupPointPic"/>
										<div class="foundGroupPointName">爱跳舞</div>
									</div>
									<div class="foundGroupPoint">
										<img src="img/head.jpg" class="foundGroupPointPic"/>
										<div class="foundGroupPointName">爱跳舞</div>
									</div>
									<div class="foundGroupPoint">
										<img src="img/head.jpg" class="foundGroupPointPic"/>
										<div class="foundGroupPointName">爱跳舞</div>
									</div>
									<div class="clear"></div>
								</div>
							</div>
						</div>
						<div id="foundCenterFrame">
							<div class="foundTitle">
								<div class="foundTitleName">热门分类</div>
							</div>
							<div class="foundGroupMain">
								<div class="foundGroupRoll">
									<img src="img/head.jpg" class="foundGroupPointL"/>
									<img src="img/head.jpg" class="foundGroupPointL"/>
									<img src="img/head.jpg" class="foundGroupPointL"/>
									<img src="img/head.jpg" class="foundGroupPointL"/>
									<img src="img/head.jpg" class="foundGroupPointL"/>
									<img src="img/head.jpg" class="foundGroupPointL"/>
									<img src="img/head.jpg" class="foundGroupPointL"/>
									<img src="img/head.jpg" class="foundGroupPointL"/>
									<img src="img/head.jpg" class="foundGroupPointL"/>
									<img src="img/head.jpg" class="foundGroupPointL"/>
									<img src="img/head.jpg" class="foundGroupPointL"/>
									<div class="clear"></div>
								</div>
							</div>
							<div class="foundTitle">
								<div class="foundTitleName">部·关注</div>
								<div class="foundTitleButton">换一批</div>
							</div>
							<img src="img/head.jpg" id="foundCenterPic"/>
							<div id="foundList">
								<div class="list_module listXXL_module">
									<img class="left" src="img/head.jpg"/>
									<div class="right">
										<div class="title">群的名字</div>
										<div class="dsc">好吧，是的，就这样</div>
										<div class="numberFrame">
											<img src="img/readNum.png" class="readNum"/>
											<div class="number">4546456</div>
											<img src="img/talkNum.png" class="talkNum"/>
											<div class="number">4546456</div>
											<div class="clear"></div>
										</div>
									</div>
									<div class="clear"></div>
								</div>
								<div class="list_module listXXL_module">
									<img class="left" src="img/head.jpg"/>
									<div class="right">
										<div class="title">群的名字</div>
										<div class="dsc">好吧，是的，就这样</div>
										<div class="numberFrame">
											<img src="img/readNum.png" class="readNum"/>
											<div class="number">4546456</div>
											<img src="img/talkNum.png" class="talkNum"/>
											<div class="number">4546456</div>
											<div class="clear"></div>
										</div>
									</div>
									<div class="clear"></div>
								</div>
								<div class="list_module listXXL_module">
									<img class="left" src="img/head.jpg"/>
									<div class="right">
										<div class="title">群的名字</div>
										<div class="dsc">好吧，是的，就这样</div>
										<div class="numberFrame">
											<img src="img/readNum.png" class="readNum"/>
											<div class="number">4546456</div>
											<img src="img/talkNum.png" class="talkNum"/>
											<div class="number">4546456</div>
											<div class="clear"></div>
										</div>
									</div>
									<div class="clear"></div>
								</div>
							</div>
						</div>
						<div class="foundOldGroup">
							<div class="timeFrame">
								<div class="time">往期精彩 第53期</div>
							</div>
							<div class="foundTitle">
								<div class="foundTitleName">关爱健康</div>
							</div>
							<div class="foundGroupMain">
								<div class="foundGroupRoll">
									<div class="foundGroupPoint">
										<img src="img/head.jpg" class="foundGroupPointPic"/>
										<div class="foundGroupPointName">爱跳舞</div>
									</div>
									<div class="foundGroupPoint">
										<img src="img/head.jpg" class="foundGroupPointPic"/>
										<div class="foundGroupPointName">爱跳舞</div>
									</div>
									<div class="foundGroupPoint">
										<img src="img/head.jpg" class="foundGroupPointPic"/>
										<div class="foundGroupPointName">爱跳舞</div>
									</div>
									<div class="foundGroupPoint">
										<img src="img/head.jpg" class="foundGroupPointPic"/>
										<div class="foundGroupPointName">爱跳舞</div>
									</div>
									<div class="foundGroupPoint">
										<img src="img/head.jpg" class="foundGroupPointPic"/>
										<div class="foundGroupPointName">爱跳舞</div>
									</div>
									<div class="foundGroupPoint">
										<img src="img/head.jpg" class="foundGroupPointPic"/>
										<div class="foundGroupPointName">爱跳舞</div>
									</div>
									<div class="foundGroupPoint">
										<img src="img/head.jpg" class="foundGroupPointPic"/>
										<div class="foundGroupPointName">爱跳舞</div>
									</div>
									<div class="foundGroupPoint">
										<img src="img/head.jpg" class="foundGroupPointPic"/>
										<div class="foundGroupPointName">爱跳舞</div>
									</div>
									<div class="clear"></div>
								</div>
							</div>
							<div class="foundTitle">
								<div class="foundTitleName">关爱健康</div>
							</div>
							<div class="foundGroupMain">
								<div class="foundGroupRoll">
									<div class="foundGroupPoint">
										<img src="img/head.jpg" class="foundGroupPointPic"/>
										<div class="foundGroupPointName">爱跳舞</div>
									</div>
									<div class="foundGroupPoint">
										<img src="img/head.jpg" class="foundGroupPointPic"/>
										<div class="foundGroupPointName">爱跳舞</div>
									</div>
									<div class="foundGroupPoint">
										<img src="img/head.jpg" class="foundGroupPointPic"/>
										<div class="foundGroupPointName">爱跳舞</div>
									</div>
									<div class="foundGroupPoint">
										<img src="img/head.jpg" class="foundGroupPointPic"/>
										<div class="foundGroupPointName">爱跳舞</div>
									</div>
									<div class="foundGroupPoint">
										<img src="img/head.jpg" class="foundGroupPointPic"/>
										<div class="foundGroupPointName">爱跳舞</div>
									</div>
									<div class="foundGroupPoint">
										<img src="img/head.jpg" class="foundGroupPointPic"/>
										<div class="foundGroupPointName">爱跳舞</div>
									</div>
									<div class="foundGroupPoint">
										<img src="img/head.jpg" class="foundGroupPointPic"/>
										<div class="foundGroupPointName">爱跳舞</div>
									</div>
									<div class="foundGroupPoint">
										<img src="img/head.jpg" class="foundGroupPointPic"/>
										<div class="foundGroupPointName">爱跳舞</div>
									</div>
									<div class="clear"></div>
								</div>
							</div>
							<div class="foundTitle">
								<div class="foundTitleName">部·关注</div>
								<div class="foundTitleButton">换一批</div>
							</div>
							<div class="list_module listXXL_module">
								<img class="left" src="img/head.jpg"/>
								<div class="right">
									<div class="title">群的名字</div>
									<div class="dsc">好吧，是的，就这样</div>
									<div class="numberFrame">
										<img src="img/readNum.png" class="readNum"/>
										<div class="number">4546456</div>
										<img src="img/talkNum.png" class="talkNum"/>
										<div class="number">4546456</div>
										<div class="clear"></div>
									</div>
								</div>
								<div class="clear"></div>
							</div>
							<div class="list_module listXXL_module">
								<img class="left" src="img/head.jpg"/>
								<div class="right">
									<div class="title">群的名字</div>
									<div class="dsc">好吧，是的，就这样</div>
									<div class="numberFrame">
										<img src="img/readNum.png" class="readNum"/>
										<div class="number">4546456</div>
										<img src="img/talkNum.png" class="talkNum"/>
										<div class="number">4546456</div>
										<div class="clear"></div>
									</div>
								</div>
								<div class="clear"></div>
							</div>
							<div class="list_module listXXL_module">
								<img class="left" src="img/head.jpg"/>
								<div class="right">
									<div class="title">群的名字</div>
									<div class="dsc">好吧，是的，就这样</div>
									<div class="numberFrame">
										<img src="img/readNum.png" class="readNum"/>
										<div class="number">4546456</div>
										<img src="img/talkNum.png" class="talkNum"/>
										<div class="number">4546456</div>
										<div class="clear"></div>
									</div>
								</div>
								<div class="clear"></div>
							</div>
							<div class="list_module listXXL_module">
								<img class="left" src="img/head.jpg"/>
								<div class="right">
									<div class="title">群的名字</div>
									<div class="dsc">好吧，是的，就这样</div>
									<div class="numberFrame">
										<img src="img/readNum.png" class="readNum"/>
										<div class="number">4546456</div>
										<img src="img/talkNum.png" class="talkNum"/>
										<div class="number">4546456</div>
										<div class="clear"></div>
									</div>
								</div>
								<div class="clear"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
</div>
</script>

