<script type="text/x-template" id="lastest_page">
<div class="lastest_page">
	<div id="lastestMain">
		<div id="lastestRoll">
			<div class="lastestGroup">
				<div class="year">
					<div class="number">2015</div>
				</div>
				<div class="lastestPoint">
					<div class="date">12月10日</div>
					<div class="picFrame">
						<img src="img/head.jpg" class="picFour lt"/>
						<img src="img/head.jpg" class="picFour rt"/>
						<img src="img/head.jpg" class="picFour lb"/>
						<img src="img/head.jpg" class="picFour rb"/>
					</div>
					<div class="right">
						<div class="title">相册名</div>
						<div class="dsc">描述</div>
						<div class="picNum">共1张</div>
					</div>
					<div class="clear"></div>
				</div>
				<div class="lastestPoint">
					<div class="date">12月10日</div>
					<div class="picFrame">
						<img src="img/head.jpg" class="picFour lt"/>
						<img src="img/head.jpg" class="picFour rt"/>
						<img src="img/head.jpg" class="picFour lb"/>
						<img src="img/head.jpg" class="picFour rb"/>
					</div>
					<div class="right">
						<div class="title">相册名</div>
						<div class="dsc">描述</div>
						<div class="picNum">共1张</div>
					</div>
					<div class="clear"></div>
				</div>
				<div class="lastestPoint">
					<div class="date">12月10日</div>
					<div class="picFrame">
						<img src="img/head.jpg" class="picFour lt"/>
						<img src="img/head.jpg" class="picFour rt"/>
						<img src="img/head.jpg" class="picFour lb"/>
						<img src="img/head.jpg" class="picFour rb"/>
					</div>
					<div class="right">
						<div class="title">相册名</div>
						<div class="dsc">描述</div>
						<div class="picNum">共1张</div>
					</div>
					<div class="clear"></div>
				</div>
				<div class="lastestPoint">
					<div class="date">12月10日</div>
					<div class="picFrame">
						<img src="img/head.jpg" class="picFour lt"/>
						<img src="img/head.jpg" class="picFour rt"/>
						<img src="img/head.jpg" class="picFour lb"/>
						<img src="img/head.jpg" class="picFour rb"/>
					</div>
					<div class="right">
						<div class="title">相册名</div>
						<div class="dsc">描述</div>
						<div class="picNum">共1张</div>
					</div>
					<div class="clear"></div>
				</div>
				<div class="lastestPoint">
					<div class="date">12月10日</div>
					<div class="picFrame">
						<img src="img/head.jpg" class="picFour lt"/>
						<img src="img/head.jpg" class="picFour rt"/>
						<img src="img/head.jpg" class="picFour lb"/>
						<img src="img/head.jpg" class="picFour rb"/>
					</div>
					<div class="right">
						<div class="title">相册名</div>
						<div class="dsc">描述</div>
						<div class="picNum">共1张</div>
					</div>
					<div class="clear"></div>
				</div>
				<div class="lastestPoint">
					<div class="date">12月10日</div>
					<div class="picFrame">
						<img src="img/head.jpg" class="picFour lt"/>
						<img src="img/head.jpg" class="picFour rt"/>
						<img src="img/head.jpg" class="picFour lb"/>
						<img src="img/head.jpg" class="picFour rb"/>
					</div>
					<div class="right">
						<div class="title">相册名</div>
						<div class="dsc">描述</div>
						<div class="picNum">共1张</div>
					</div>
					<div class="clear"></div>
				</div>
			</div>
		</div>
	</div>
	
</div>
</script>