<script type="text/x-template" id="linkmanList_page">
<div class="linkmanList_page">
	<div id="sideHandle"></div>
	<div id="topFrame">
		<img src="img/searchButton.png" class="searchButton" id="search"/>
		<div class="clear"></div>
		<div class="linkNavPoint">
			<img src="img/newMan.jpg" class="icon"/>
			<div class="name">新朋友</div>
		</div>
		<div class="linkNavPoint">
			<img src="img/attention.jpg" class="icon"/>
			<div class="name">特别关心</div>
		</div>
		<div class="linkNavPoint">
			<img src="img/group.jpg" class="icon"/>
			<div class="name">群组</div>
		</div>
		<div class="linkNavPoint">
			<img src="img/public.jpg" class="icon"/>
			<div class="name">公众号</div>
		</div>
		<div class="clear"></div>
	</div>
	<div id="linkListFrame">
		<div id="listFrameRoll">
			<div class="dropDown_module">
				<div class="dropDownPoint">
					<div class="dropDownHead">
						<div class="dropIcon"></div>
						<div class="dropName">我的设备</div>
						<div class="dropCount">3/3</div>
					</div>
					<div class="dropDownMain">
						<div class="list_module listM_module">
							<img class="left" src="img/head.jpg"/>
							<div class="right">
								<div class="title">群的名字</div>
								<div class="dsc">好吧，是的，就这样</div>
								<div class="state">2G</div>
							</div>
							<div class="clear"></div>
						</div>
						<div class="list_module listM_module">
							<img class="left" src="img/head.jpg"/>
							<div class="right">
								<div class="title">群的名字</div>
								<div class="dsc">好吧，是的，就这样</div>
								<div class="state">2G</div>
							</div>
							<div class="clear"></div>
						</div>
						<div class="list_module listM_module">
							<img class="left" src="img/head.jpg"/>
							<div class="right">
								<div class="title">群的名字</div>
								<div class="dsc">好吧，是的，就这样</div>
								<div class="state">2G</div>
							</div>
							<div class="clear"></div>
						</div>
					</div>
				</div>
				<div class="dropDownPoint">
					<div class="dropDownHead">
						<div class="dropIcon"></div>
						<div class="dropName">手机通讯录</div>
						<div class="dropCount">3/3</div>
					</div>
					<div class="dropDownMain">
						<div class="list_module listM_module">
							<img class="left" src="img/head.jpg"/>
							<div class="right">
								<div class="title">群的名字</div>
								<div class="dsc">好吧，是的，就这样</div>
								<div class="state">2G</div>
							</div>
							<div class="clear"></div>
						</div>
						<div class="list_module listM_module">
							<img class="left" src="img/head.jpg"/>
							<div class="right">
								<div class="title">群的名字</div>
								<div class="dsc">好吧，是的，就这样</div>
								<div class="state">2G</div>
							</div>
							<div class="clear"></div>
						</div>
						<div class="list_module listM_module">
							<img class="left" src="img/head.jpg"/>
							<div class="right">
								<div class="title">群的名字</div>
								<div class="dsc">好吧，是的，就这样</div>
								<div class="state">2G</div>
							</div>
							<div class="clear"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="dropDown_module">
				<div class="dropDownPoint">
					<div class="dropDownHead">
						<div class="dropIcon"></div>
						<div class="dropName">我的好友</div>
						<div class="dropCount">3/3</div>
					</div>
					<div class="dropDownMain">
						<div class="list_module listM_module">
							<img class="left" src="img/head.jpg"/>
							<div class="right">
								<div class="title">群的名字</div>
								<div class="dsc">好吧，是的，就这样</div>
								<div class="state">2G</div>
							</div>
							<div class="clear"></div>
						</div>
						<div class="list_module listM_module">
							<img class="left" src="img/head.jpg"/>
							<div class="right">
								<div class="title">群的名字</div>
								<div class="dsc">好吧，是的，就这样</div>
								<div class="state">2G</div>
							</div>
							<div class="clear"></div>
						</div>
						<div class="list_module listM_module">
							<img class="left" src="img/head.jpg"/>
							<div class="right">
								<div class="title">群的名字</div>
								<div class="dsc">好吧，是的，就这样</div>
								<div class="state">2G</div>
							</div>
							<div class="clear"></div>
						</div>
					</div>
				</div>
				<div class="dropDownPoint">
					<div class="dropDownHead">
						<div class="dropIcon"></div>
						<div class="dropName">一群坏人</div>
						<div class="dropCount">3/3</div>
					</div>
					<div class="dropDownMain">
						<div class="list_module listM_module">
							<img class="left" src="img/head.jpg"/>
							<div class="right">
								<div class="title">群的名字</div>
								<div class="dsc">好吧，是的，就这样</div>
								<div class="state">2G</div>
							</div>
							<div class="clear"></div>
						</div>
						<div class="list_module listM_module">
							<img class="left" src="img/head.jpg"/>
							<div class="right">
								<div class="title">群的名字</div>
								<div class="dsc">好吧，是的，就这样</div>
								<div class="state">2G</div>
							</div>
							<div class="clear"></div>
						</div>
						<div class="list_module listM_module">
							<img class="left" src="img/head.jpg"/>
							<div class="right">
								<div class="title">群的名字</div>
								<div class="dsc">好吧，是的，就这样</div>
								<div class="state">2G</div>
							</div>
							<div class="clear"></div>
						</div>
					</div>
				</div>
			<div>
		</div>
	</div>
</div>
</script>

