<script type="text/x-template" id="myDetail_page">
<div class="myDetail_page">
	<div class="head_module buttonTitleButton_head">
				<div class="left">
					<img src="img/back.png" class="leftIcon"/>
					<div class="leftText">返回</div>
					<div class="clear"></div>
				</div> 
				<div class="title">我的资料</div>
				<div class="right">更多</div>
				</div>
	<div id="myDetailMain">
		<div id="myDetailRoll">
			<img src="img/myDetailBg.jpg" id="headBg"/>
			<img id="play" src="img/play.png"/>
			<div id="priseFrame">
				<img src="img/prise.png"/>
				<div id="priseNum">0</div>
				<div class="clear"></div>
			</div>
			<div class="frame" id="base">
				<div class="left">
					<img src="img/head.jpg"/>
				</div>
				<div class="right">
					<div class="name">某人</div>
					<div class="dsc">男 29岁 广东 广州</div>
					<div class="vipFrame">
						<img src="img/vipType.png"/>
						<div class="vipNum">35天</div>
						<div class="clear"></div>
					</div>
				</div>
				<div class="clear"></div>
			</div>
			<div class="frame" id="host">
				<div class="left">
					账号信息
				</div>
				<div class="right">
					<div class="name">394127821</div>
					<img src="img/lian.png" class="lian"/>
					<img src="img/vipNo.png" class="vip"/>
					<div class="clear"></div>
					<div class="step sun"></div>
					<div class="step sun"></div>
					<div class="step moon"></div>
					<div class="step moon"></div>
					<div class="step star"></div>
					<div class="step star"></div>
					<div class="speed">慢速中</div>
					<div class="clear"></div>
					<img class="tag" src="img/tag.png"/>
				</div>
				<div class="clear"></div>
			</div>
			<div class="frame" id="sign">
				<div class="left">个性签名</div>
				<div class="right">
					<div class="dsc">说了很多很多</div>
					<img class="tag" src="img/tag.png"/>
				</div>
				<div class="clear"></div>
			</div>
			<div class="frame" id="server">
				<div class="left">专享特权</div>
				<div class="right">
					<img src="img/QG.png" class="point"/>
					<img src="img/hz.png" class="point"/>
					<img src="img/lz.png" class="point"/>
					<img src="img/sz.png" class="point"/>
					<img src="img/vq.png" class="point"/>
					<div class="clear"></div>
					<img class="tag" src="img/tag.png"/>
				</div>
				<div class="clear"></div>
			</div>
			<div class="frame" id="zone">
				<div class="left">QQ空间</div>
				<div class="right">
					<div class="dsc">某人的空间</div>
					<img src="img/head.jpg" class="point"/>
					<img src="img/head.jpg" class="point"/>
					<img src="img/head.jpg" class="point"/>
					<img src="img/head.jpg" class="point"/>
					<div class="clear"></div>
					<img class="tag" src="img/tag.png"/>
				</div>
				<div class="clear"></div>
			</div>
			<div class="frame" id="mine">
				<div class="point">
					<img src="img/myInterest.png" class="icon"/>
					<div class="name">我的兴趣</div>
					<div class="dsc">英雄联盟</div>
				</div>
				<div class="point">
					<img src="img/myMusic.png" class="icon"/>
					<div class="name">我喜欢听</div>
				</div>
				<div class="point">
					<img src="img/idol.png" class="icon"/>
					<div class="name">我的偶像</div>
				</div>
				<div class="point">
					<img src="img/myRead.png" class="icon"/>
					<div class="name">最近在读</div>
				</div>
				<div class="point">
					<img src="img/myHear.png" class="icon"/>
					<div class="name">在听电台</div>
					<div class="dsc">真实鬼故事</div>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</div> 
</div>
</script>

