<script type="text/x-template" id="near_page">
<div class="near_page">
	<div class="nav_module">
		<div class="nav_point">附近的人</div>
		<div class="nav_point">新鲜事</div>
		<div class="nav_point">热聊</div>
		<div class="nav_point">更多</div>
		<div class="clear"></div>
		<div class="heightLine"></div>
	</div>
	<div id="nearMain">
		<div id="nearRoll">
			<div class="subPage">
				<div id="nearMan">
					<div id="nearManRoll">
						<div id="topThreeFrame">
							<img src="img/topTree.jpg" class="topThree"/>
							<img src="img/head.jpg" class="topThree"/>
							<img src="img/head.jpg" class="topThree"/>
							<img src="img/head.jpg" class="topThree last"/>
							<div class="clear"></div>
						</div>
						<div class="list_module listL_module">
							<img class="left" src="img/head.jpg"/>
							<div class="right">
								<div class="title">某人</div>
								<div class="request">男 29岁 天蝎座</div>
								<div class="dsc">好吧，是的，就这样</div>
								<div class="state">0.02km 4小时</div>
							</div>
							<div class="clear"></div>
						</div>
						<div class="list_module listL_module">
							<img class="left" src="img/head.jpg"/>
							<div class="right">
								<div class="title">某人</div>
								<div class="request">男 29岁 天蝎座</div>
								<div class="dsc">好吧，是的，就这样</div>
								<div class="state">0.02km 4小时</div>
							</div>
							<div class="clear"></div>
						</div>
						<div class="list_module listL_module">
							<img class="left" src="img/head.jpg"/>
							<div class="right">
								<div class="title">某人</div>
								<div class="request">男 29岁 天蝎座</div>
								<div class="dsc">好吧，是的，就这样</div>
								<div class="state">0.02km 4小时</div>
							</div>
							<div class="clear"></div>
						</div>
						<div class="list_module listL_module">
							<img class="left" src="img/head.jpg"/>
							<div class="right">
								<div class="title">某人</div>
								<div class="request">男 29岁 天蝎座</div>
								<div class="dsc">好吧，是的，就这样</div>
								<div class="state">0.02km 4小时</div>
							</div>
							<div class="clear"></div>
						</div>
						<div class="list_module listL_module">
							<img class="left" src="img/head.jpg"/>
							<div class="right">
								<div class="title">某人</div>
								<div class="request">男 29岁 天蝎座</div>
								<div class="dsc">好吧，是的，就这样</div>
								<div class="state">0.02km 4小时</div>
							</div>
							<div class="clear"></div>
						</div>
						<div class="list_module listL_module">
							<img class="left" src="img/head.jpg"/>
							<div class="right">
								<div class="title">某人</div>
								<div class="request">男 29岁 天蝎座</div>
								<div class="dsc">好吧，是的，就这样</div>
								<div class="state">0.02km 4小时</div>
							</div>
							<div class="clear"></div>
						</div>
						<div class="list_module listL_module">
							<img class="left" src="img/head.jpg"/>
							<div class="right">
								<div class="title">某人</div>
								<div class="request">男 29岁 天蝎座</div>
								<div class="dsc">好吧，是的，就这样</div>
								<div class="state">0.02km 4小时</div>
							</div>
							<div class="clear"></div>
						</div>
						<div class="list_module listL_module">
							<img class="left" src="img/head.jpg"/>
							<div class="right">
								<div class="title">某人</div>
								<div class="request">男 29岁 天蝎座</div>
								<div class="dsc">好吧，是的，就这样</div>
								<div class="state">0.02km 4小时</div>
							</div>
							<div class="clear"></div>
						</div>
						<div class="list_module listL_module">
							<img class="left" src="img/head.jpg"/>
							<div class="right">
								<div class="title">某人</div>
								<div class="request">男 29岁 天蝎座</div>
								<div class="dsc">好吧，是的，就这样</div>
								<div class="state">0.02km 4小时</div>
							</div>
							<div class="clear"></div>
						</div>
						<div class="list_module listL_module">
							<img class="left" src="img/head.jpg"/>
							<div class="right">
								<div class="title">某人</div>
								<div class="request">男 29岁 天蝎座</div>
								<div class="dsc">好吧，是的，就这样</div>
								<div class="state">0.02km 4小时</div>
							</div>
							<div class="clear"></div>
						</div>
					</div> 
				</div>
			</div>
			<div class="subPage">
				<div id="newThink">
					<div id="newThinkRoll">
						<div class="zone_module">
							<div class="top">
								<img src="img/head.jpg"/>
								<div class="name">某人</div>
								<div class="time">今天19:23</div>
							</div>
							<div class="middle">
								<div class="text">说了很多很多很多说了很多很多很多说了很多很多很多说了很多很多很多说了很多很多很多说了很多很多很多说了很多很多很多说了很多很多很多</div>
								<div class="picFrame">
									<img src="img/head.jpg" class="pic"/>
									<img src="img/head.jpg" class="pic"/>
									<img src="img/head.jpg" class="pic"/>
									<img src="img/head.jpg" class="pic"/>
									<img src="img/head.jpg" class="pic"/>
									<img src="img/head.jpg" class="pic"/>
									<div class="clear"></div>
								</div>
							</div>
							<div class="bottom">
								<div class="readed">
									<div class="zoneIcon read"></div>
									<div class="readNumber">浏览9次</div>
									<div class="clear"></div>
								</div>
								<div class="praised">
									<div class="zoneIcon praise"></div>
									<div class="praiseName">某人</div>
									<div class="praiseName">某人</div>
									<div class="praiseName">某人</div>
									<div class="clear"></div>
								</div>
							</div>
						</div>
						<div class="zone_module">
							<div class="top">
								<img src="img/head.jpg"/>
								<div class="name">某人</div>
								<div class="time">今天19:23</div>
							</div>
							<div class="middle">
								<div class="text">说了很多很多很多说了很多很多很多说了很多很多很多说了很多很多很多说了很多很多很多说了很多很多很多说了很多很多很多说了很多很多很多</div>
								<div class="picFrame">
									<img src="img/head.jpg" class="pic"/>
									<img src="img/head.jpg" class="pic"/>
									<img src="img/head.jpg" class="pic"/>
									<img src="img/head.jpg" class="pic"/>
									<img src="img/head.jpg" class="pic"/>
									<img src="img/head.jpg" class="pic"/>
									<div class="clear"></div>
								</div>
							</div>
							<div class="bottom">
								<div class="readed">
									<div class="zoneIcon read"></div>
									<div class="readNumber">浏览9次</div>
									<div class="clear"></div>
								</div>
								<div class="praised">
									<div class="zoneIcon praise"></div>
									<div class="praiseName">某人</div>
									<div class="praiseName">某人</div>
									<div class="praiseName">某人</div>
									<div class="clear"></div>
								</div>
							</div>
						</div>
						<div class="zone_module">
							<div class="top">
								<img src="img/head.jpg"/>
								<div class="name">某人</div>
								<div class="time">今天19:23</div>
							</div>
							<div class="middle">
								<div class="text">说了很多很多很多说了很多很多很多说了很多很多很多说了很多很多很多说了很多很多很多说了很多很多很多说了很多很多很多说了很多很多很多</div>
								<div class="picFrame">
									<img src="img/head.jpg" class="pic"/>
									<img src="img/head.jpg" class="pic"/>
									<img src="img/head.jpg" class="pic"/>
									<img src="img/head.jpg" class="pic"/>
									<img src="img/head.jpg" class="pic"/>
									<img src="img/head.jpg" class="pic"/>
									<div class="clear"></div>
								</div>
							</div>
							<div class="bottom">
								<div class="readed">
									<div class="zoneIcon read"></div>
									<div class="readNumber">浏览9次</div>
									<div class="clear"></div>
								</div>
								<div class="praised">
									<div class="zoneIcon praise"></div>
									<div class="praiseName">某人</div>
									<div class="praiseName">某人</div>
									<div class="praiseName">某人</div>
									<div class="clear"></div>
								</div>
							</div>
						</div>
						<div class="zone_module">
							<div class="top">
								<img src="img/head.jpg"/>
								<div class="name">某人</div>
								<div class="time">今天19:23</div>
							</div>
							<div class="middle">
								<div class="text">说了很多很多很多说了很多很多很多说了很多很多很多说了很多很多很多说了很多很多很多说了很多很多很多说了很多很多很多说了很多很多很多</div>
								<div class="picFrame">
									<img src="img/head.jpg" class="pic"/>
									<img src="img/head.jpg" class="pic"/>
									<img src="img/head.jpg" class="pic"/>
									<img src="img/head.jpg" class="pic"/>
									<img src="img/head.jpg" class="pic"/>
									<img src="img/head.jpg" class="pic"/>
									<div class="clear"></div>
								</div>
							</div>
							<div class="bottom">
								<div class="readed">
									<div class="zoneIcon read"></div>
									<div class="readNumber">浏览9次</div>
									<div class="clear"></div>
								</div>
								<div class="praised">
									<div class="zoneIcon praise"></div>
									<div class="praiseName">某人</div>
									<div class="praiseName">某人</div>
									<div class="praiseName">某人</div>
									<div class="clear"></div>
								</div>
							</div>
						</div>
						<div class="zone_module">
							<div class="top">
								<img src="img/head.jpg"/>
								<div class="name">某人</div>
								<div class="time">今天19:23</div>
							</div>
							<div class="middle">
								<div class="text">说了很多很多很多说了很多很多很多说了很多很多很多说了很多很多很多说了很多很多很多说了很多很多很多说了很多很多很多说了很多很多很多</div>
								<div class="picFrame">
									<img src="img/head.jpg" class="pic"/>
									<img src="img/head.jpg" class="pic"/>
									<img src="img/head.jpg" class="pic"/>
									<img src="img/head.jpg" class="pic"/>
									<img src="img/head.jpg" class="pic"/>
									<img src="img/head.jpg" class="pic"/>
									<div class="clear"></div>
								</div>
							</div>
							<div class="bottom">
								<div class="readed">
									<div class="zoneIcon read"></div>
									<div class="readNumber">浏览9次</div>
									<div class="clear"></div>
								</div>
								<div class="praised">
									<div class="zoneIcon praise"></div>
									<div class="praiseName">某人</div>
									<div class="praiseName">某人</div>
									<div class="praiseName">某人</div>
									<div class="clear"></div>
								</div>
							</div>
						</div>
						<div class="zone_module">
							<div class="top">
								<img src="img/head.jpg"/>
								<div class="name">某人</div>
								<div class="time">今天19:23</div>
							</div>
							<div class="middle">
								<div class="text">说了很多很多很多说了很多很多很多说了很多很多很多说了很多很多很多说了很多很多很多说了很多很多很多说了很多很多很多说了很多很多很多</div>
								<div class="picFrame">
									<img src="img/head.jpg" class="pic"/>
									<img src="img/head.jpg" class="pic"/>
									<img src="img/head.jpg" class="pic"/>
									<img src="img/head.jpg" class="pic"/>
									<img src="img/head.jpg" class="pic"/>
									<img src="img/head.jpg" class="pic"/>
									<div class="clear"></div>
								</div>
							</div>
							<div class="bottom">
								<div class="readed">
									<div class="zoneIcon read"></div>
									<div class="readNumber">浏览9次</div>
									<div class="clear"></div>
								</div>
								<div class="praised">
									<div class="zoneIcon praise"></div>
									<div class="praiseName">某人</div>
									<div class="praiseName">某人</div>
									<div class="praiseName">某人</div>
									<div class="clear"></div>
								</div>
							</div>
						</div>
						<div class="zone_module">
							<div class="top">
								<img src="img/head.jpg"/>
								<div class="name">某人</div>
								<div class="time">今天19:23</div>
							</div>
							<div class="middle">
								<div class="text">说了很多很多很多说了很多很多很多说了很多很多很多说了很多很多很多说了很多很多很多说了很多很多很多说了很多很多很多说了很多很多很多</div>
								<div class="picFrame">
									<img src="img/head.jpg" class="pic"/>
									<img src="img/head.jpg" class="pic"/>
									<img src="img/head.jpg" class="pic"/>
									<img src="img/head.jpg" class="pic"/>
									<img src="img/head.jpg" class="pic"/>
									<img src="img/head.jpg" class="pic"/>
									<div class="clear"></div>
								</div>
							</div>
							<div class="bottom">
								<div class="readed">
									<div class="zoneIcon read"></div>
									<div class="readNumber">浏览9次</div>
									<div class="clear"></div>
								</div>
								<div class="praised">
									<div class="zoneIcon praise"></div>
									<div class="praiseName">某人</div>
									<div class="praiseName">某人</div>
									<div class="praiseName">某人</div>
									<div class="clear"></div>
								</div>
							</div>
						</div>
					</div> 
				</div>
			</div>
			<div class="subPage">
				<div id="hotTalk">
					<div id="hotTalkRoll">
						<div id="hotBannerFrame">
							<div id="hotBannerRoll">
								<img src="img/head.jpg"/>
								<img src="img/head.jpg"/>
								<img src="img/head.jpg"/>
								<img src="img/head.jpg"/>
								<div class="clear"></div>
							</div>
							<div id="hotBannerPointFrame">
								<div class="hotBannerPoint hl"></div>
								<div class="hotBannerPoint"></div>
								<div class="hotBannerPoint"></div>
								<div class="hotBannerPoint"></div>
								<div class="clear"></div>
							</div>
						</div>
						<div class="text_module listTitle textGay_module">语聊大厅</div>
						<div id="roomFrame">
							<div id="roomRoll">
								<img src="img/head.jpg"/>
								<img src="img/head.jpg"/>
								<img src="img/head.jpg"/>
								<img src="img/head.jpg"/>
								<img src="img/head.jpg"/>
								<div class="clear"></div>
							</div>
						</div>
						<div class="text_module listTitle textGay_module">公共热聊房间</div>
						<div class="list_module listS_module nodeg">
							<img class="left" src="img/roomType0.png"/>
							<div class="right">
								<div class="title">群的名字</div>
								<div class="dsc">好吧，是的，就这样</div>
							</div>
							<div class="clear"></div>
						</div>
						<div class="list_module listS_module nodeg">
							<img class="left" src="img/roomType1.png"/>
							<div class="right">
								<div class="title">群的名字</div>
								<div class="dsc">好吧，是的，就这样</div>
							</div>
							<div class="clear"></div>
						</div>
						<div class="list_module listS_module nodeg">
							<img class="left" src="img/roomType2.png"/>
							<div class="right">
								<div class="title">群的名字</div>
								<div class="dsc">好吧，是的，就这样</div>
							</div>
							<div class="clear"></div>
						</div>
						<div class="list_module listS_module nodeg">
							<img class="left" src="img/roomType3.png"/>
							<div class="right">
								<div class="title">群的名字</div>
								<div class="dsc">好吧，是的，就这样</div>
							</div>
							<div class="clear"></div>
						</div>
						<div class="text_module listTitle textGay_module">个人热聊房间</div>
						<div class="list_module listS_module nodeg">
							<img class="left" src="img/roomType4.png"/>
							<div class="right">
								<div class="title">群的名字</div>
								<div class="dsc">好吧，是的，就这样</div>
							</div>
							<div class="clear"></div>
						</div>
						<div class="list_module listS_module nodeg">
							<img class="left" src="img/roomType5.png"/>
							<div class="right">
								<div class="title">群的名字</div>
								<div class="dsc">好吧，是的，就这样</div>
							</div>
							<div class="clear"></div>
						</div>
						<div class="list_module listS_module nodeg">
							<img class="left" src="img/roomType6.png"/>
							<div class="right">
								<div class="title">群的名字</div>
								<div class="dsc">好吧，是的，就这样</div>
							</div>
							<div class="clear"></div>
						</div>
						<div class="list_module listS_module nodeg">
							<img class="left" src="img/roomType7.png"/>
							<div class="right">
								<div class="title">群的名字</div>
								<div class="dsc">好吧，是的，就这样</div>
							</div>
							<div class="clear"></div>
						</div>
					</div> 
				</div>
			</div>
			<div class="subPage">
				<div id="more">
					<div id="moreRoll">
						<div class="list_module listXL_module">
							<img class="left" src="img/head.jpg"/>
							<div class="right">
								<div class="title">群的名字</div>
								<img class="tag" src="img/tag.png"/>
							</div>
							<div class="clear"></div>
						</div>
						<div class="tag_module tagNoLeft_module">
							<div class="tagPoint">
								<div class="right">
									<div class="title">我的访客</div>
									<img src="img/tag.png" class="icon"/>
								</div>
								<div class="clear"></div>
							</div>
							<div class="tagPoint">
								<div class="right">
									<div class="title">我的新鲜事</div>
									<img src="img/tag.png" class="icon"/>
								</div>
								<div class="clear"></div>
							</div>
							<div class="tagPoint">
								<div class="right">
									<div class="title">收到的鲜花</div>
									<img src="img/tag.png" class="icon"/>
								</div>
								<div class="clear"></div>
							</div>
						</div>
						<div class="listGroup">
							<div class="list_module listXXS_module listSingle_module nodeg">
								<img class="left" src="img/friend.png"/>
								<div class="right">
									<div class="title">交友性格测试</div>
									<img src="img/tag.png" class="tag"/>
								</div>
								<div class="clear"></div>
							</div>
							<div class="list_module listXXS_module listSingle_module nodeg">
								<img class="left" src="img/talkRoom.png"/>
								<div class="right">
									<div class="title">语聊大厅</div>
									<img src="img/tag.png" class="tag"/>
								</div>
								<div class="clear"></div>
							</div>
							<div class="list_module listXXS_module listSingle_module nodeg">
								<img class="left" src="img/neargroup.png"/>
								<div class="right">
									<div class="title">附近的群</div>
									<img src="img/tag.png" class="tag"/>
								</div>
								<div class="clear"></div>
							</div>
							<div class="list_module listXXS_module listSingle_module nodeg">
								<img class="left" src="img/action2.png"/>
								<div class="right">
									<div class="title">活动</div>
									<img src="img/tag.png" class="tag"/>
								</div>
								<div class="clear"></div>
							</div>
							<div class="list_module listXXS_module listSingle_module nodeg">
								<img class="left" src="img/top.png"/>
								<div class="right">
									<div class="title">排行榜</div>
									<img src="img/tag.png" class="tag"/>
								</div>
								<div class="clear"></div>
							</div>
						</div>
						<div class="text_module">清除位置信息并退出</div>
					</div> 
				</div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
</div>
</script>

