<script type="text/x-template" id="newFriend_page">
<div class="newFriend_page">
	<div id="newFriendMain">
		<div id="newFriendRoll">
			<div class="list_module listL_module">
							<img class="left" src="img/head.jpg"/>
							<div class="right">
								<div class="title">群的名字</div>
								<div class="request">请求加为好友</div>
								<div class="dsc">好吧，是的，就这样</div>
								<div class="state">已同意</div>
							</div>
							<div class="clear"></div>
						</div>
		</div>
	</div>
</div>
</script>

