<script type="text/x-template" id="phoneList_page">
<div class="phoneList_page">
	<div id="topFrame">
		<div id="place">北京<span class="gay">&or;</span></div>
		<img src="img/searchMButton.jpg" class="searchButton" id="search"/>
		<div class="clear"></div>
		<div class="topPoint">
			<img class="icon" src="img/express.jpg"/>
			<div class="name">快递</div>
		</div>
		<div class="topPoint">
			<img class="icon" src="img/traffic.jpg"/>
			<div class="name">交通出行</div>
		</div>
		<div class="topPoint">
			<img class="icon" src="img/hotel.jpg"/>
			<div class="name">酒店旅游</div>
		</div>
		<div class="topPoint">
			<img class="icon" src="img/hospital.jpg"/>
			<div class="name">医院</div>
		</div>
		<div class="topPoint">
			<img class="icon" src="img/bank.jpg"/>
			<div class="name">银行</div>
		</div>
		<div class="topPoint">
			<img class="icon" src="img/server.jpg"/>
			<div class="name">公共服务</div>
		</div>
		<div class="topPoint">
			<img class="icon" src="img/suppot.jpg"/>
			<div class="name">品牌售后</div>
		</div>
		<div class="topPoint">
			<img class="icon" src="img/saft.jpg"/>
			<div class="name">保险证券</div>
		</div>
		<div class="clear"></div>
	</div>
	<div id="phoneListMain">
			<div id="phoneListRoll">
				<div class="text_module textGay_module textM_module" id="title">热门号码</div>
				<div class="list_module listS_module">
					<img class="left" src="img/head.jpg"/>
					<div class="right">
						<div class="title">群的名字</div>
						<div class="dsc">好吧，是的，就这样</div>
						<img src="img/tel.jpg" class="phone"/>
					</div>
					<div class="clear"></div>
				</div>
				<div class="list_module listS_module">
					<img class="left" src="img/head.jpg"/>
					<div class="right">
						<div class="title">群的名字</div>
						<div class="dsc">好吧，是的，就这样</div>
						<img src="img/telList.jpg" class="phone"/>
					</div>
					<div class="clear"></div>
				</div>
				<div class="list_module listS_module">
					<img class="left" src="img/head.jpg"/>
					<div class="right">
						<div class="title">群的名字</div>
						<div class="dsc">好吧，是的，就这样</div>
						<img src="img/tel.jpg" class="phone"/>
					</div>
					<div class="clear"></div>
				</div>
				<div class="list_module listS_module">
					<img class="left" src="img/head.jpg"/>
					<div class="right">
						<div class="title">群的名字</div>
						<div class="dsc">好吧，是的，就这样</div>
						<img src="img/telList.jpg" class="phone"/>
					</div>
					<div class="clear"></div>
				</div>
				<div class="list_module listS_module">
					<img class="left" src="img/head.jpg"/>
					<div class="right">
						<div class="title">群的名字</div>
						<div class="dsc">好吧，是的，就这样</div>
						<img src="img/tel.jpg" class="phone"/>
					</div>
					<div class="clear"></div>
				</div>
				<div class="list_module listS_module">
					<img class="left" src="img/head.jpg"/>
					<div class="right">
						<div class="title">群的名字</div>
						<div class="dsc">好吧，是的，就这样</div>
						<img src="img/telList.jpg" class="phone"/>
					</div>
					<div class="clear"></div>
				</div>
				<div class="list_module listS_module">
					<img class="left" src="img/head.jpg"/>
					<div class="right">
						<div class="title">群的名字</div>
						<div class="dsc">好吧，是的，就这样</div>
						<img src="img/tel.jpg" class="phone"/>
					</div>
					<div class="clear"></div>
				</div>
				<div class="list_module listS_module">
					<img class="left" src="img/head.jpg"/>
					<div class="right">
						<div class="title">群的名字</div>
						<div class="dsc">好吧，是的，就这样</div>
						<img src="img/telList.jpg" class="phone"/>
					</div>
					<div class="clear"></div>
				</div>
				<div class="list_module listS_module">
					<img class="left" src="img/head.jpg"/>
					<div class="right">
						<div class="title">群的名字</div>
						<div class="dsc">好吧，是的，就这样</div>
						<img src="img/tel.jpg" class="phone"/>
					</div>
					<div class="clear"></div>
				</div>
				<div class="list_module listS_module">
					<img class="left" src="img/head.jpg"/>
					<div class="right">
						<div class="title">群的名字</div>
						<div class="dsc">好吧，是的，就这样</div>
						<img src="img/telList.jpg" class="phone"/>
					</div>
					<div class="clear"></div>
				</div>
				<div class="list_module listS_module">
					<img class="left" src="img/head.jpg"/>
					<div class="right">
						<div class="title">群的名字</div>
						<div class="dsc">好吧，是的，就这样</div>
						<img src="img/tel.jpg" class="phone"/>
					</div>
					<div class="clear"></div>
				</div>
				<div class="list_module listS_module">
					<img class="left" src="img/head.jpg"/>
					<div class="right">
						<div class="title">群的名字</div>
						<div class="dsc">好吧，是的，就这样</div>
						<img src="img/telList.jpg" class="phone"/>
					</div>
					<div class="clear"></div>
				</div>
			</div>
		</div>
	
</div>
</script>

