<script type="text/x-template" id="public_page">
<div class="public_page">
				<img src="img/searchButton.png" class="searchButton" id="search"/>
				<div id="publicMain">
					<div id="publicRoll">
						<div class="text_module listTitle textGay_module">A</div>
						<div class="list_module listS_module">
							<img class="left" src="img/head.jpg"/>
							<div class="right">
								<div class="title">群的名字</div>
								<div class="dsc">好吧，是的，就这样</div>
							</div>
							<div class="clear"></div>
						</div>
						<div class="list_module listS_module">
							<img class="left" src="img/head.jpg"/>
							<div class="right">
								<div class="title">群的名字</div>
								<div class="dsc">好吧，是的，就这样</div>
							</div>
							<div class="clear"></div>
						</div>
						<div class="text_module listTitle textGay_module">B</div>
						<div class="list_module listS_module">
							<img class="left" src="img/head.jpg"/>
							<div class="right">
								<div class="title">群的名字</div>
								<div class="dsc">好吧，是的，就这样</div>
							</div>
							<div class="clear"></div>
						</div>
						<div class="list_module listS_module">
							<img class="left" src="img/head.jpg"/>
							<div class="right">
								<div class="title">群的名字</div>
								<div class="dsc">好吧，是的，就这样</div>
							</div>
							<div class="clear"></div>
						</div>
					</div>
				</div>
</div>
</script>

