<script type="text/x-template" id="regest_page">
<div class="regest_page">
	<div class="labelInput_module labelInputPhone_module" id="phone">
		<div class="phone">中国 +86</div>
		<div class="inpurFrame">
			<input placeholder="QQ号/邮箱地址/手机号"/>
		</div>
	</div>
	<div class="button_module buttonL_module buttonGay_module" id="Send">确定</div>
	<div id="dsc">
		<div class="select_module selectRadio_module" id="check"></div>
		<div class="text_module textGay_module" id="text">我已阅读并同意</div>
		<div class="text_module" id="link">使用条款和隐私政策</div>
		<div class="clear"></div>
	</div>
</div>
</script>

