<script type="text/x-template" id="side_tem">
<div class="side_tem">
	<img src="img/head.jpg" class="head"/>
	<div class="name" id="myDetail">某人</div>
	<div class="stepFrame">
		<div class="step sun"></div>
		<div class="step sun"></div>
		<div class="step sun"></div>
		<div class="step moon"></div>
		<div class="step moon"></div>
		<div class="step moon"></div>
		<div class="step star"></div>
		<div class="clear"></div>
	</div>
	<div class="dsc">
		说了很多很多
	</div>
	<img class="ercode" src="img/erCode.png"/>
	<div class="list">
		<div class="point" id="vip">
			<img src="img/vip.png" class="icon"/>
			<div class="label">开通会员</div>
			<div class="clear"></div>
		</div>
		<div class="point" id="money">
			<img src="img/package.png" class="icon"/>
			<div class="label">QQ钱包</div>
			<div class="clear"></div>
		</div>
		<div class="point" id="diyShow">
			<img src="img/diy.png" class="icon"/>
			<div class="label">个性装扮</div>
			<div class="clear"></div>
		</div>
		<div class="point" id="collect">
			<img src="img/collect.png" class="icon"/>
			<div class="label">我的收藏</div>
			<div class="clear"></div>
		</div>
		<div class="point" id="album">
			<img src="img/album.png" class="icon"/>
			<div class="label">我的相册</div>
			<div class="clear"></div>
		</div>
		<div class="point" id="file">
			<img src="img/file.png" class="icon"/>
			<div class="label">我的文件</div>
			<div class="clear"></div>
		</div>
	</div>
	<div class="temperature">19°</div>
	<div class="set" id="set">
		<img src="img/set.png"/>
		<div class="label">设置</div>
		<div class="clear"></div>
	</div>
	<div class="night">
		<img src="img/night.png"/>
		<div class="label">夜间</div>
		<div class="clear"></div>
	</div>
	<div class="place">广州</div>
</div>
</script>

