<script type="text/x-template" id="talk_foot">
<div class="talk_foot">
	<input/>
	<div class="bottomFrame">
		<div class="bottomPoint">
			<img  src="img/voice.jpg"/>
		</div>
		<div class="bottomPoint">
			<img  src="img/moive.jpg"/>
		</div>
		<div class="bottomPoint">
			<img  src="img/pic.jpg"/>
		</div>
		<div class="bottomPoint">
			<img  src="img/camera.jpg"/>
		</div>
		<div class="bottomPoint">
			<img  src="img/redpacket.jpg"/>
		</div>
		<div class="bottomPoint">
			<img  src="img/face.jpg"/>
		</div>
		<div class="bottomPoint">
			<img  src="img/add.jpg"/>
		</div>
		<div class="clear"></div>
	</div>
</div>
</script>

