<script type="text/x-template" id="vip_page">
<div class="vip_page">
	<div id="vipMain">
		<div id="vipRoll">
			<img src="img/head.jpg" id="topPic"/>
			<div id="topFrame">
				<div class="title">生活福利</div>
				<div class="more">更多 &gt;</div>
				<div class="clear"></div>
				<div id="topFrameMain">
					<img src="img/head.jpg" class="point"/>
					<img src="img/head.jpg" class="point"/>
					<img src="img/head.jpg" class="point"/>
					<img src="img/head.jpg" class="point"/>
				</div>
				<div class="clear"></div>
			</div>
			<div class="frame">
				<div class="title">游戏特权</div>
				<div class="more">更多 &gt;</div>
				<div class="clear"></div>
				<div class="list_module listXL_module">
					<img class="left" src="img/head.jpg"/>
					<div class="right">
						<div class="title">群的名字</div>
						<div class="dsc">好吧，是的，就这样</div>
					</div>
					<div class="clear"></div>
				</div>
				<div class="list_module listXL_module">
					<img class="left" src="img/head.jpg"/>
					<div class="right">
						<div class="title">群的名字</div>
						<div class="dsc">好吧，是的，就这样</div>
					</div>
					<div class="clear"></div>
				</div>
				<div class="list_module listXL_module">
					<img class="left" src="img/head.jpg"/>
					<div class="right">
						<div class="title">群的名字</div>
						<div class="dsc">好吧，是的，就这样</div>
					</div>
					<div class="clear"></div>
				</div>
			</div>
			<div class="frame">
				<div class="title">游戏特权</div>
				<div class="more">更多 &gt;</div>
				<div class="clear"></div>
				<div class="list_module listXL_module">
					<img class="left" src="img/head.jpg"/>
					<div class="right">
						<div class="title">群的名字</div>
						<div class="dsc">好吧，是的，就这样</div>
					</div>
					<div class="clear"></div>
				</div>
				<div class="list_module listXL_module">
					<img class="left" src="img/head.jpg"/>
					<div class="right">
						<div class="title">群的名字</div>
						<div class="dsc">好吧，是的，就这样</div>
					</div>
					<div class="clear"></div>
				</div>
				<div class="list_module listXL_module">
					<img class="left" src="img/head.jpg"/>
					<div class="right">
						<div class="title">群的名字</div>
						<div class="dsc">好吧，是的，就这样</div>
					</div>
					<div class="clear"></div>
				</div>
			</div>
			<div class="frame" id="style">
				<div class="title">装扮特权</div>
				<div class="more">更多 &gt;</div>
				<div class="clear"></div>
				<div class="point">
					<img src="img/head.jpg" class="pic"/>
					<div class="dsc">挂件<img src="img/vipTag.jpg" class="vipTag"/></div>
					<div class="name">火影</div>
				</div>
				<div class="point">
					<img src="img/head.jpg" class="pic"/>
					<div class="dsc">表情<img src="img/vipTag.jpg" class="vipTag"/></div>
					<div class="name">Emily</div>
				</div>
				<div class="point">
					<img src="img/head.jpg" class="pic"/>
					<div class="dsc">主题<img src="img/vipTag.jpg" class="vipTag"/></div>
					<div class="name">奇迹暖暖</div>
				</div>
				<div class="clear"></div>
				<img class="point2" src="img/head.jpg"/>
				<img class="point2" src="img/head.jpg"/>
				<div class="clear"></div>
			</div>
			<div class="button_module buttonL_module buttonYellow_module" id="Send">开通超级会员</div>
			<div class="frame">
				<div class="title">精彩活动</div>
				<div class="clear"></div>
				<div id="bottomBanner">
					<div id="bottomBannerRoll">
						<img src="img/head.jpg" class="pic"/>
						<img src="img/head.jpg" class="pic"/>
						<div class="clear"></div>
					</div>
					<div id="pointFrame">
						<div class="point"></div>
						<div class="point"></div>
						<div class="clear"></div>
					</div>
				</div>
				<div class="clear"></div>
				<div class="bottomNav">年费</div>
				<div class="bottomNav">动漫</div>
				<div class="bottomNav">积分</div>
				<div class="bottomNav">兑换</div>
				<div class="clear"></div>
			</div>
			<div class="text_module textGay_module textS_module">Copyright @ 1998-2016 jiumogaoao,All Rights Reserved.</div>
			<div class="text_module textGay_module textS_module">傲漫国际 版权所有</div>
		</div>
	</div>
	
</div>
</script>

