<script type="text/x-template" id="zone_page">
<div class="zone_page">
	<div class="head_module buttonTitleIcon_head">
		<div class="left">
			<img src="img/back.jpg" class="leftIcon"/>
			<div class="leftText">返回</div>
			<div class="clear"></div>
		</div>
		<div class="title">好友动态</div>
		<div class="right">
			<div class="rightPoint zoneIcon add"></div>
		<div class="clear"></div>
		</div>
	</div>
	<div id="zoneMain">
		<div id="zoneRoll">
			<div id="zoneTopFrame" style="background-image:url(img/zoneBg.jpg)">
				<div id="zoneHeadFrame">
					<div class="zoneIcon headBg"></div>
					<img src="img/head.jpg" class="head"/>
					<div class="zoneIcon headFont"></div>
				</div>
				<div class="zoneIcon view"></div>
				<div class="starFrame">
					<div class="zoneIcon star"></div> 
					<div class="zoneIcon star"></div>
					<div class="zoneIcon star"></div>
					<div class="clear"></div>
				</div>
				<div id="zoneTextFrame">
					<div class="text">今日访客 <span class="yellow">0</span></div>
					<div class="text">总浏览量 <span class="yellow">7838</span></div>
				</div>
				<div id="zoneNavFrame">
					<div class="nav">相册</div>
					<div class="line"></div>
					<div class="nav">说说</div>
					<div class="line"></div>
					<div class="nav">个性化</div>
					<div class="line"></div>
					<div class="nav">@ 与我相关</div>
					<div class="clear"></div>
				</div>
			</div>
			<div id="zoneBottomFrame">
				<div id="talkButton">说点什么吧</div>
				<div id="picButton">
					<div class="zoneIcon pic"></div>
				</div>
				<div class="clear"></div>
			</div>
			<div class="zone_module">
				<div class="top">
					<img src="img/head.jpg"/>
					<div class="name">某人</div>
					<div class="time">今天19:23</div>
				</div>
				<div class="middle">
					<div class="text">说了很多很多很多说了很多很多很多说了很多很多很多说了很多很多很多说了很多很多很多说了很多很多很多说了很多很多很多说了很多很多很多</div>
					<div class="picFrame">
						<img src="img/head.jpg" class="pic"/>
						<img src="img/head.jpg" class="pic"/>
						<img src="img/head.jpg" class="pic"/>
						<img src="img/head.jpg" class="pic"/>
						<img src="img/head.jpg" class="pic"/>
						<img src="img/head.jpg" class="pic"/>
						<div class="clear"></div>
					</div>
				</div>
				<div class="bottom">
					<div class="zoneIcon copyButton"></div>
					<div class="zoneIcon talkButton"></div>
					<div class="zoneIcon praiseButton"></div>
					<div class="clear"></div>
					<div class="readed">
						<div class="zoneIcon read"></div>
						<div class="readNumber">浏览9次</div>
						<div class="clear"></div>
					</div>
					<div class="praised">
						<div class="zoneIcon praise"></div>
						<div class="praiseName">某人</div>
						<div class="praiseName">某人</div>
						<div class="praiseName">某人</div>
						<div class="clear"></div>
					</div>
					<div class="talkFrame">
						<input placeholder="我也来说一句"/>
						<div class="line"></div>
						<div class="zoneIcon face"></div>
						<div class="clear"></div>
					</div>
				</div>
			</div>

			<div class="zone_module">
				<div class="top">
					<img src="img/head.jpg"/>
					<div class="name">某人</div>
					<div class="time">今天19:23</div>
				</div>
				<div class="middle">
					<div class="share">
						<img src="img/head.jpg" class="sharePic"/>
						<div class="shareTitle">分享标题</div>
						<div class="clear"></div>
					</div>
				</div>
				<div class="bottom">
					<div class="zoneIcon copyButton"></div>
					<div class="zoneIcon talkButton"></div>
					<div class="zoneIcon praiseButton"></div>
					<div class="clear"></div>
					<div class="readed">
						<div class="zoneIcon read"></div>
						<div class="readNumber">浏览9次</div>
						<div class="clear"></div>
					</div>
					<div class="praised">
						<div class="zoneIcon praise"></div>
						<div class="praiseName">某人</div>
						<div class="praiseName">某人</div>
						<div class="praiseName">某人</div>
						<div class="clear"></div>
					</div>
					<div class="talkFrame">
						<input placeholder="我也来说一句"/>
						<div class="line"></div>
						<div class="zoneIcon face"></div>
						<div class="clear"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</script>

