<script type="text/x-template" id="zone_page">
<div class="zone_page">
	<div class="head_module buttonTitleIcon_head">
		<div class="left">
			<img src="img/back.jpg" class="leftIcon"/>
			<div class="leftText">返回</div>
			<div class="clear"></div>
		</div>
		<div class="title">好友动态</div>
		<div class="right">
			<div class="rightPoint zoneIcon add"></div>
		<div class="clear"></div>
		</div>
	</div>
	<div id="zoneMain">
		<div id="zoneRoll">
			<div id="topFrame">
				<div id="headFrame">
					<div class="zoneIcon headBg"></div>
					<img src="" class="head"/>
					<div class="zoneIcon headFont"></div>
				</div>
			</div>
			
		</div>
	</div>
</div>
</script>

